<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Tous les clients</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Tous les clients</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Tous les clients<small> </small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card-body">
                      <div class="row">
                        <input type="hidden" [(ngModel)]="user_id" formControlName="user_id">
                        <div class="col-md-4">
                          <div class="form-group">
                              <input type="text" formControlName="full_name"
                                id="full_name"  
                                class="form-control"
                                placeholder="Nom"
                                >
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" formControlName="email"
                              id="email"  
                              class="form-control"
                              placeholder="Email"
                              >
                          </div>
                        </div>
                        <div class="col-md-4"> 
                          <div class="form-group">
                            <input type="number" formControlName="phone"
                              id="phone"  
                              class="form-control"
                              placeholder="Numéro de portable"
                              >
                          </div>
                        </div>
                        
                        
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-primary">Soumettre</button>
                          
                        </div> 
                        <div class="col-md-2">    
                          <a href="/allClient/{{user_id}}" class="btn btn-warning">Réinitialisation</a>
                        </div>
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>

                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Nom</th> 
                          <th>Courriel</th>
                          <th>Nom de la personne de contact</th>
                          <th>Téléphone</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                         
                        <tr *ngFor="let val of record let i = index">
                          <td>{{ i+1 }}</td>
                          <td>{{ val.full_name}}</td>
                          <td>{{ val.email}}</td>
                          <td>{{ val.contact_person_name}}</td>
                          <td>{{ val.mobile_number}}</td>
                          <td>
                            <a routerLink="/adminClientDetail/{{ val._id}}" >
                              <i class="">Détail</i>
                            </a>
                          </td>
                        </tr>
  
                      </tbody>
                    </table>
                  </div>  
                  <div class="clearfix"></div>
                  <br>
  
                   
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                        (click)="getallBanner(item)">
                        <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
  
                  <div class="clearfix"></div>
                    <br>
                <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                </div>
  
  
                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>