<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Zone</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Tableau de bord</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              <div>
                      <form [formGroup]="form" (ngSubmit)="submit()">
                          <div class="card-body">
                              <input type="hidden" formControlName="id" ngModel="{{old_id}}">
                               
                              <div class="form-group">
                                  <label for="">Nom de la zone</label>
                                  <input type="text" id="zone_name" formControlName="zone_name" class="form-control" placeholder="" ngModel="{{old_name}}">
                                  <div *ngIf="f['zone_name'].touched && f['zone_name'].invalid" class="validation_error">
                                      <div *ngIf="f['zone_name'].errors && f['zone_name'].errors['required']">Le nom de la zone est requis</div>
                                    </div>

                              </div>
                               

 
                                  <button type="submit" class="btn btn-primary">Soumettre</button>
                                  &nbsp;&nbsp;&nbsp;
                                   
                              <div class="clearfix"></div>
                              <br>
                              <div class="comeBack_up" *ngIf="apiResponse">
                                  <div *ngIf="apiResponse.status ==false; else loggedOut">
                                  <div class="alert alert-danger"><strong>{{ apiResponse.message }}</strong></div>
                                  </div>
                                  <ng-template #loggedOut>
                                  <div class="alert alert-success" *ngIf="apiResponse.message"><strong>{{ apiResponse.message }}</strong></div>
                                  </ng-template>
                              </div>
              
                                
                          </div>


                      </form>
                   
              </div>


          </section>

          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>