<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

    <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Update Vendor</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Tableau de bord</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h4 class="card-title">Edit Vendor<small></small></h4>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">

                    
                   
                    <input type="hidden" id="email" class="form-control" formControlName="email" placeholder="Courriel">
                     <div style="text-align: center;">
                      <h4>Payment Options</h4>
                    </div>
                    

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Nom de la banque</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="bank_name" placeholder="Nom de la banque" />
                          <div *ngIf="f['bank_name'].touched && f['bank_name'].invalid" class="validation_error">
                            <div *ngIf="f['bank_name'].errors && f['bank_name'].errors['required']">Nom de la banque est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Numéro de compte</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="account_number" placeholder="Numéro de compte" />
                          <div *ngIf="f['account_number'].touched && f['account_number'].invalid" class="validation_error">
                            <div *ngIf="f['account_number'].errors && f['account_number'].errors['required']">Numéro de compte est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Nom du compte</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" id="" class="form-control" formControlName="account_name" placeholder="Nom du compte">
                          <div *ngIf="f['account_name'].touched && f['account_name'].invalid" class="validation_error">
                            <div *ngIf="f['account_name'].errors && f['account_name'].errors['required']">Nom du compte est requis</div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Adresse de la banque</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="bank_address" placeholder="Adresse de la banque" />
                          <div *ngIf="f['bank_address'].touched && f['bank_address'].invalid" class="validation_error">
                            <div *ngIf="f['bank_address'].errors && f['bank_address'].errors['required']">Adresse de la banque est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">IBAN</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="iban" placeholder="IBAN" />
                          <div *ngIf="f['iban'].touched && f['iban'].invalid" class="validation_error">
                            <div *ngIf="f['iban'].errors && f['iban'].errors['required']">IBAN est requis</div>
                          </div>
                        </div>
                      </div>
                    </div> 

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">BIC</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="bic" placeholder="BIC" />
                          <div *ngIf="f['bic'].touched && f['bic'].invalid" class="validation_error">
                            <div *ngIf="f['bic'].errors && f['bic'].errors['required']">BIC est requis</div>
                          </div>

                        </div>
                      </div>
                    </div> 
                    

                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Update Vendor</button>
                  </div>

                  <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up">
                    <div>
                      <!-- <div class="alert alert-danger"><strong></strong></div> -->
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success"><strong></strong></div>
                    </ng-template>
                  </div>

                </form>
              </div>
              <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
    </div>