<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Détail du client</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Détail du client</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Détail du client<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                 
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                 
                <!-- /.card-header -->
                <div class="card-body">
                  
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="white-box"> 
                        <!--   -->
                        <div *ngFor="let xyz of record" >

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Nom</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.full_name}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Courriel</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.email}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Nom de la personne de contact</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.contact_person_name}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Téléphone</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.mobile_number}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Commentaire</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.comment}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="clearfix"></div>
                          <br>
                          <div>
                            <h4 class="recevier_heading">Adresse de l'expéditeur</h4>
                          </div>
                          <br>
                          <div class="clearfix"></div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Personne à contacter</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.contact_person}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Rue / Boîte postale</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.streat_po_box}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Code du bureau</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.office_code}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Numéro du bâtiment</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.building_number}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Escalier ou ascenseur</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.lift}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Étage</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.floor}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Intercom</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.intercom}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Localité</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.locality}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Numéro de contact</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.sender_contact_number}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Adresse</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.address}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>



                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->



    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
</body>