<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6" style="display: flex;">
                            <h1 class="m-0">Annoncer</h1>
                            <button class="btn btn-outline-primary" (click)="openDialog()">Ajouter une annonce</button>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div style="margin-left: 14px;display: flex;">
                    <!-- <p style="color: #2171ae;font-size: 12px;">All({{orders.length}}) &nbsp;| &nbsp;</p>
                    <p style="color: #2171ae;font-size: 12px;">Published({{orders.length}}) &nbsp;| &nbsp;</p> -->
                   
                   
                </div>
                
                <table id="basic-data-table" class="table nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th >Titre</th>
                        <th>Contenu</th>
                        <th >Envoyé à</th>
                        <th>Statut</th>
                        <th>Date</th>
                       
                      </tr>
                    </thead>
                    <ng-container *ngIf="orders.length > 0; else elseUsers"> 
                        <tbody>
                            <tr *ngFor="let d of orders | paginate: { itemsPerPage: 4, currentPage: p } ">
                                <td>#</td>
                                <td >{{d.title}}</td>
                                <td><div class="tooltip"><i class="fas fa-eye" style="color: #2171ae;"></i>
                                    <span class="tooltiptext" [innerHTML]="d.content"> </span>
                                </div>
                                    </td>
                                <td >{{d.sentTo}}</td>
                                <td >
                                    <div class="badge" style="color: green;" *ngIf="d.status == true">
                                        Published
                                    </div>
                                    <div class="badge" style="color: red;" *ngIf="d.status == false">
                                    Not Published
                                    </div>
                                    
                                </td>
                                <td>{{d.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                                
                            </tr>
                            <tr  *ngIf="orders.length == 0">
                                Aucune annonce trouvée
                            </tr>
                            
                        </tbody>
                        </ng-container>
                        <ng-template #elseUsers>
                        <tbody >
                        <tr>
                            <td class="no-data" colspan="10">
                                <i class="fa fa-file"></i>
                                <p>Aucune donnée trouvée</p>
                            </td>
                        </tr>
                        </tbody>
                    </ng-template>

                  </table>
                  <div class="clearfix"></div>
                        <br>
                        <ul class="pagination">
                            <li   *ngFor="let item of numbers; let i = index"  
                            [class.active]="selectedIndex === i"
                            (click)="getallColor(item)">
                            <a class="" href="javascript:void(0)">{{item+1}}</a>
                            </li> 
                        </ul>
                  <!-- <div style="display: flex;background-color: #fff;border: 1px solid #e4e4e4;padding: 10px;">
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Add Announcement">
                     <form method='post'>
                        <textarea></textarea>
                      </form>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Publish">
                        <button class="btn btn-outline-primary col-sm-7">Save as Draft</button>
                        <button class="btn btn-primary" style="float: left;"> Send</button><br>
                        <small> <i class="fas fa-upload"></i> Publish: immidietly</small>
                    </div>
                     

                  </div> --> 
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
        
    </div>
</body>