body {
    background-color: #fff;
  }
  
  .top-information,
  .bottom-information {
    padding: 0 20px;
  }
 td{
    font-weight: 400;
    color: gray;
    font-size: 14px;
  }
  th{
    font-weight: 400;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 0 !important;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #fff ;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 0;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }