<!-- Preloader -->
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="../../assets/admin-js-css/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div> -->

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/dashboard" class="nav-link"> Accueil</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
    
      <li class="nav-item dropdown">
        <a class="nav-link notification-href" data-toggle="dropdown" href="javascript:void(0)" (click)="openNotificatioModel()">
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge">{{newMessageCount}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" [ngStyle]="{display:displayStyle}">
          
          <div class="dropdown-divider"></div>
            
            <ng-container *ngFor="let obj of record ">
              
              <a routerLink="/allPushNotification" class="dropdown-item">
                <div class="media">
                  <img src="../../assets/admin-js-css/dist/img/notification.png" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      <ng-container *ngIf="obj.title">
                        {{obj.title.substring(0, 25)}}
                      </ng-container> 
                      <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm" [innerHTML]="obj.message.substring(0, 360)">  </p>
                    <!-- <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p> -->
                  </div>
                </div>
              </a>
              <div class="dropdown-divider"></div>
            </ng-container>
            
  
            
  
          <div class="dropdown-divider"></div>
          <a routerLink="/allPushNotification" class="dropdown-item dropdown-footer">Voir tous les messages</a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li> -->
    </ul>
</nav>
<!-- /.navbar -->
