<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Catégorie</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Total des catégories</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                          <th> <input type="checkbox" [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)" >
                          </th>
                          
                          <th>Photo</th>
                          <th>Titre</th>
                          <th>Est présenté</th>
                          <th>Action</th>
                          <th>Statut</th>
                          <th>Statut de l'action</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let d of vendors | filter:searchText ">
                          <td><input type="checkbox" [(ngModel)]="d.is_checked" (ngModelChange)="onSelectAll2(d._id,$event)" ></td>

                          <td><img *ngIf="d.image" style="width:130px;" src="{{base_url_two}}static/public/{{d.image}}"></td>

                          <td>{{ d.title }}</td>
                          <td>
                            <ng-container *ngIf="d.is_featured == true; else elseFeature">
                                <p style="color: green;">Oui</p>
                            </ng-container>
                            <ng-template #elseFeature>
                                <p style="color: red;">Non</p>
                            </ng-template>
                          </td>
                        <td>
                            <a routerLink="/editCategory/{{d._id}}">Modifier</a>
                            <div class="clearfix"></div><br>
                            <ng-container *ngIf="d.is_featured == false; else elseFeature2">
                               
                                <a href="javascript:void(0)" (click)="makeFeature(d._id,true)">Mise à jour comme souligné</a>
                            </ng-container>
                            <ng-template #elseFeature2>
                                <a href="javascript:void(0)" (click)="makeFeature(d._id,false)">Désactiver la mise en évidence </a>
                            </ng-template>

                            &nbsp;
                           
                        </td>


                    

                          <td>
                              <div class="badge" style="color:green" *ngIf="d.is_active==true "> Active</div>
                              <div class="badge" style="color:red" *ngIf="d.is_active==false ">In Active</div>

                          </td>

                          <td>

                            <a *ngIf="d.is_active == false" class="btn btn-success btn-sm" (click)="updateUserStatus(d._id,true)" >Approuvé</a> <div class="clearfix"></div>
                            &nbsp;&nbsp; <div class="clearfix"></div>
                            <a  *ngIf="d.is_active == true" class="btn btn-danger btn-sm" (click)="updateUserStatus(d._id,false)" >Désapprouvé</a>
                          </td>
                      </tr>


                  </tbody>
              </table>
              <!-- <div>
                  <input type="checkbox"  [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)">
                  <div *ngFor="let d of data;">
                      <input type="checkbox" [(ngModel)]="d.is_selected">
                      <span>{{ d.name }}</span>
                  </div>
                </div> -->
                <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.status == true; else loggedOut">
                        <div class="alert alert-success" *ngIf="apiResponse.message"><strong>{{ apiResponse.message }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                        <div class="alert alert-danger"><strong>{{ apiResponse.message }}</strong></div>
                    </ng-template>
                </div>
                <div class="clearfix"></div>
                  <br>
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                        (click)="getallBanner(item)">
                        <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
                  <div class="clearfix"></div>
                  <br>

          </section>
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>