/* body {
    background-color: #fff;
  }
  
  .top-information,
  .bottom-information {
    padding: 0 20px;
  }
  th, td{
    font-weight: 400;
  }
  td{
    font-size: 14px;
  }
  .form-control{
    width: 20%;
    margin-left: auto;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 0 !important;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #fff ;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
  
     
    position: absolute;

    top: 99%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .badge{
    padding: 8px 10px;
    background-color: #e4e4e4;
  } */


