<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Détail du client</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Détail du client</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Détail du client<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                 
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                 
                <!-- /.card-header -->
                <div class="card-body">
                  
                  <div class="row">




<div class="col-lg-12 col-md-12">
  <div class="white-box"> 
    <!--   -->
      <div *ngFor="let xyz of record" >
      
          <div class="clearfix"></div>
          <br>
          <div>
            <h4 class="recevier_heading">Donnée relative à l'expéditeur</h4>
          </div>
          <br>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Nom</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.full_name}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Courriel</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.email}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Nom de la personne de contact</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.contact_person_name}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Téléphone</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.mobile_number}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Personne à contacter</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.contact_person}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Rue / Boîte postale</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.streat_po_box}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Code du bureau</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.office_code}}</span>
                      </div>
                  </div>
                </div>
              </div>


              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Statut</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                        <div *ngIf="xyz.status == 1; else statusOut">
                          <span class="badge bg-success">En cours</span>
                        </div>
                        <ng-template #statusOut>
                            <ng-container *ngIf="xyz.status == 2;else third">
                              <span class="badge bg-info">Expédié</span>
                            </ng-container>
                        </ng-template>
          
                        <ng-template #third>
                          <ng-container *ngIf="xyz.status == 3;else fourth">
                            <span class="badge bg-success">Complété</span>
                          </ng-container>
                        </ng-template>
                        <ng-template #fourth>
                            <ng-container *ngIf="xyz.status == 4">
                              <span class="badge bg-danger">Annulé</span>
                            </ng-container>
                        </ng-template>
                      </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-lg-6 col-md-6">
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Numéro du bâtiment</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.building_number}}</span>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Escalier ou ascenseur</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.lift}}</span>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Étage</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.floor}}</span>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Intercom</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.intercom}}</span>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Localité</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.locality}}</span>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Numéro de contact</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.sender_contact_number}}</span>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="value">
                <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Adresse</span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span>{{xyz.sender_address}}</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          







          

      </div>
  </div>
</div>
<div class="col-lg-12 col-md-12">

                    
  <div class="clearfix"></div>
    <br>
    <div class="col-md-12">
      <div class="row p-t-30">
        <div>
            <div class="my-google-map">
              <google-map [options]="mapOptions3" height="500px"
              width="100%">
                <map-marker [position]="marker3.position"></map-marker>
              </google-map>
          </div>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
</div>


                    <div class="col-lg-12 col-md-12">
                      <div class="white-box"> 
                        <!--   -->
                        <div *ngFor="let xyz of record" >
                          

                          <div class="clearfix"></div>
                          <br>
                          <div>
                            <h4 class="recevier_heading">Adresse de ramassage</h4>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-4">
                                  <div class="name">
                                      <span>Adresse</span>
                                  </div>
                              </div>
                              <div class=col-md-8>
                                  <div class="name">
                                      <span>{{xyz.pickup_address}}</span>
                                  </div>
                              </div>

                              <div class="clearfix"></div>
                              <br>
                              <div class="col-md-12">
                                <div class="row p-t-30">
                                  <div>
                                     <div class="my-google-map">
                                       <google-map [options]="mapOptions" height="500px"
                                       width="100%">
                                          <map-marker [position]="marker.position"></map-marker>
                                       </google-map>
                                    </div>
                                   </div>
                                </div>
                              </div>
                              

                              <div class="clearfix"></div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <div class="white-box"> 
                        <!--   -->
                        <div *ngFor="let xyz of record" >
                          <div class="clearfix"></div>
                          <br>
                          <div>
                            <h4 class="recevier_heading">Donnée relative au destinataire</h4>
                          </div>
                          <br>
                          <div class="clearfix"></div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Bénéficiaire</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_name}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Contact</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_contact}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Téléphone du bénéficiaire</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_phone}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>


                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Courriel</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_email}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Rue / Boîte postale</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_streat_po_box}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Code du bureau</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_office_code}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Code d'entrée</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_entrance_code}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Numéro du bâtiment</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_building_number}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Escalier ou ascenseur</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_lift}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Étage</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_floor}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Intercom</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_intercom}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Localité</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_locality}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Informations supplémentaires</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_additional_information}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          

                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Date et heure de l'expédition</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.shipment_date| date: 'dd/MM/yyyy HH:mm'}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>


                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Adresse</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.receiver_address}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>

                          


                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12">

                    
                      <div class="clearfix"></div>
                        <br>
                        <div class="col-md-12">
                          <div class="row p-t-30">
                            <div>
                                <div class="my-google-map">
                                  <google-map [options]="mapOptions2" height="500px"
                                  width="100%">
                                    <map-marker [position]="marker2.position"></map-marker>
                                  </google-map>
                              </div>
                              </div>
                          </div>
                        </div>
                      <div class="clearfix"></div>
                    </div>


                    <div class="col-lg-12 col-md-12">
                      <div class="white-box"> 
                        <!--   -->
                        <div *ngFor="let xyz of record">                        
                                            
                          <div class="clearfix"></div>
                            <br>
                            <div>
                              <h4 class="recevier_heading">Détail de l'expédition</h4>
                            </div>

                          <!-- <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Type d'expédition</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.shipment_type}}</span>
                                  </div>
                              </div>
                            </div>
                          </div> -->
                          <!-- <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Type d'expédition</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.shipment_type}}</span>
                                  </div>
                              </div>
                            </div>
                          </div> -->
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Type</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.shipping_type}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Poids total (Gram)</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.total_weight}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Pièces</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.quantity}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Longueur (cm)</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.length}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Largeur (cm)</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.width}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Hauteur (cm)</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.height}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Note</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.shipment_note}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Expédition de retour</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>
                                        <ng-container *ngIf="xyz.extra_service == true; else extraService">
                                          Oui
                                        </ng-container>
                                        <ng-template #extraService>
                                          Non
                                        </ng-template>
                                         
                                      </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Prix total de l'expédition</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.total_shipping_price}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Prix d'expédition</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span>{{xyz.shipping_price}}</span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Prix de retour</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                    <ng-container *ngIf="xyz.extra_service == true; else elseReturnPrice ">
                                      <span>{{xyz.return_price}}</span>
                                    </ng-container>
                                      <ng-template #elseReturnPrice>0</ng-template>
                                  </div>
                              </div>
                            </div>
                          </div>
                    
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->



    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
</body>