<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Marché des statistiques</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div style="display: flex;">
                    <div class="col-6 card card-4">
                        <table>
                            <tr>
                                <td style="padding: 10px;">At a Glance</td>
                                <td style="padding: 10px;text-align: end;color: gray;">comission gagnee</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-chart-bar"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{this.homedata.data.salesthismonth.length}}</span>
                                                <span class="info-box-text">net sales this month</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-chart-pie"
                                                    style="color: green;"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{this.homedata.data.totalcommissionearned}}</span>
                                                <span class="info-box-text">comission earned</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-credit-card"
                                                    style="color: green;"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{this.homedata.data.totalsellerthismonth}} Vendor</span>
                                                <span class="info-box-text">signup this month</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-users"
                                                    style="color: orange;"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{this.homedata.data.sellerthismonthnotapproved}} vendor</span>
                                                <span class="info-box-text">awaiting approval</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-list"
                                                    style="color: gray;"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{this.homedata.data.totalproductsthismonth}} Products</span>
                                                <span class="info-box-text">created this month</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                                <td>
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="info-box mb-12">
                                            <span class="info-box-icon "><i class="fas fa-credit-card"
                                                    style="color: red;"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-number fcol">{{this.homedata.data.totalwithdrawls}} Withdrwals</span>
                                                <span class="info-box-text">awaiting approval</span>

                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-6 card card-4" >
                        <label style="color:gray"> Overview</label>
                        <canvas id="linechart"></canvas>
                    </div>
                </div>

                <div style="display: flex;">
                    <div class="col-6  card card-4">
                        <label style="color:gray"><i class="fa fa-shopping-cart"></i> Orders</label>
                        <canvas id="piechart"></canvas>
                    </div>
                    <div class="col-6  card card-4">
                        <label style="color:gray"><i class="fa fa-shopping-cart"></i> Expendition</label>
                        <canvas id="polar"></canvas>
                    </div>
                </div>



            </section>

            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>