<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Détail de la commande</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Détail de la commande</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Détail de la commande<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                 
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                 
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="white-box"> 
                        <div *ngFor="let xyz of record" >

                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>N° commande</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.order_id}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Prix total</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.totalPrice}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Frais d'expédition</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.totalshipping}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Commission</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.totalcommission}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Taxe</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.totaltax}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Gain du vendeur</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.sellerearning}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <!-- <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Statut</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.status}} </span>
                                    </div>
                                </div>
                            </div>
                          </div> -->



                      </div>

                    </div>   
                  </div>
                </div>

              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content sellerinfo -->

    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
      <div class="row">

              <div ></div> 
              <!-- <ng-container *ngIf="let jjObj of data"></ng-container> -->
                  <div class="col-md-6" *ngFor="let newObject of record2">
                      <div class="card">
                          <div class="card-body">
                              <p class="text-muted m-b-30 font-13">Détails sur le vendeur et le produit</p>  
                              <div class="row">
                                  <div class="col-lg-12 col-md-12">
                                      <div class="white-box">


                                        <div class="value">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>ID de la sous-commande : </span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                    <span> {{ newObject.part_id}}</span>
                                                </div>
                                            </div>
                                            </div>
                                          </div>


                                        <div class="value">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>Adresse d'enlèvement : </span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                    <span> {{ newObject.address.address}}</span>
                                                </div>
                                            </div>
                                            </div>
                                          </div>

                                        
                                        


                                        <div class="value">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>Nom de l'utilisateur : </span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                    <span>{{newObject.userfirstname}} {{newObject.userlastname}}</span>
                                                </div>
                                            </div>
                                            </div>
                                        </div>



                                          <div class="value">
                                              <div class="row">
                                              <div class="col-md-6">
                                                  <div class="name">
                                                      <span>Prêt à enlever : </span>
                                                  </div>
                                              </div>
                                              <div class=col-md-6>
                                                  <div class="name">
                                                      <span >
                                                        <ng-container *ngIf="newObject.isreadytopickup == true; else elseReadStat">Oui</ng-container>
                                                        <ng-template #elseReadStat>Non</ng-template>
                                                         
                                                      </span>
                                                  </div>
                                              </div>
                                              </div>
                                          </div>
                                          <div class="value">
                                                  <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="name">
                                                          <span>Prix : </span>
                                                      </div>
                                                  </div>
                                                  <div class=col-md-6>
                                                      <div class="name">
                                                          <span>{{newObject.price}}</span>
                                                      </div>
                                                  </div>
                                                  </div>
                                          </div>
                                              
                                          <div class="value">
                                                  <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="name">
                                                          <span>Frais d'expédition : </span>
                                                      </div>
                                                  </div>
                                                  <div class=col-md-6>
                                                      <div class="name">
                                                          <span>{{newObject.shipping_cost}}</span>
                                                      </div>
                                                  </div>
                                                  </div>
                                          </div>
                                          <div class="value">
                                                  <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="name">
                                                          <span>La Commission : </span>
                                                      </div>
                                                  </div>
                                                  <div class=col-md-6>
                                                      <div class="name">
                                                          <span>{{newObject.commission}}</span>
                                                      </div>
                                                  </div>
                                                  </div>
                                          </div>


                                          <div class="value">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>Taxe : </span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                    <span>{{newObject.tax}}</span>
                                                </div>
                                            </div>
                                            </div>
                                          </div>
                                          <div class="value">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>Profit du vendeur : </span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                    <span>{{newObject.sellerprofit}}</span>
                                                </div>
                                            </div>
                                            </div>
                                          </div>
                                          <div class="value">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>Nom du vendeur : </span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                    <span>{{newObject.sellername}}</span>
                                                </div>
                                            </div>
                                            </div>
                                          </div>

             
                                          
            
                                           
                                           
<div class="value">
  <div class="row">
  <div class="col-md-6">
      <div class="name">
          <span>Nom du produit : </span>
      </div>
  </div>
  <div class=col-md-6>
      <div class="name">
          <span> {{ newObject.product.product.title}}</span>
      </div>
  </div>
  </div>
</div>

<div class="value">
  <div class="row">
  <div class="col-md-6">
      <div class="name">
          <span>Catégorie : </span>
      </div>
  </div>
  <div class=col-md-6>
      <div class="name">
          <span> {{ newObject.product.product.catagory}}</span>
      </div>
  </div>
  </div>
</div>

<div class="value">
  <div class="row">
  <div class="col-md-6">
      <div class="name">
          <span>Description : </span>
      </div>
  </div>
  <div class=col-md-6>
      <div class="name">
          <span> {{ newObject.product.product.description}}</span>
      </div>
  </div>
  </div>
</div>

<div class="value">
    <div class="row">
    <div class="col-md-6">
        <div class="name">
            <span>Image : </span>
        </div>
    </div>
    <div class=col-md-6>
        <div class="name">
            <span> 
                <!-- {{ newObject.phototoshow.toString().split(",")[0]}} -->
                 
              <ng-container *ngIf="newObject.product.product.images.length > 0 ">
                <img src="{{base_url_two}}static/public/{{ newObject.product.product.images[0] }}" height="180" width="140" />
            </ng-container>
              
            </span>
        </div>
    </div>
    </div>
  </div>
  
<!-- vddvvd {{newObject | json}} -->

 

<p class="text-muted m-b-30 font-13">Détail de l'adresse de livraison</p>  


<div class="value">
    <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>L'utilisateur s'est trompé : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <ng-container *ngIf="newObject.status == 2; else elseUserCancel    ">
                    
                    <span class="badge bg-danger">
                        Oui
                    </span> 
                </ng-container> 
                <ng-template #elseUserCancel>
                    <span class="badge bg-success">
                        Non
                    </span> 
                </ng-template>
                <!-- <span> {{ newObject.delivery_status}}</span> -->
            </div>
        </div>
    </div>
</div>

    <div class="value">
        <div class="row">
            <div class="col-md-6">
                <div class="name">
                    <span>Statut de livraison : </span>
                </div>
            </div>
            <div class=col-md-6>
                <div class="name">
                    <ng-container *ngIf="newObject.delivery_status == 0; else firstElseStatus">

                    </ng-container>
                    <ng-template #firstElseStatus>

                    </ng-template>

                    <div *ngIf="newObject.delivery_status == 0; else statusOut">
                        <span class="badge bg-info">En cours</span>
                    </div>
                    <ng-template #statusOut>
                        <ng-container *ngIf="newObject.delivery_status == 1;else third">
                        <span class="badge bg-info">Expédié</span>
                        </ng-container>
                    </ng-template>
                    <ng-template #third>
                        <ng-container *ngIf="newObject.delivery_status == 3;else fourth">
                        <span class="badge bg-success">Complété</span>
                        </ng-container>
                    </ng-template>
                    <ng-template #fourth>
                        <span class="badge bg-danger">Rejeté</span>
                    </ng-template>

                    
                    <!-- <span> {{ newObject.delivery_status}}</span> -->
                </div>
            </div>
        </div>
    </div>
    <div class="value">
        <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>Adresse de livraison : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <span> {{ newObject.deliveryaddress.address }}</span>
            </div>
        </div>
        </div>
    </div>
    <div class="value">
        <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>Boîte postale : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <span> {{ newObject.deliveryaddress.pobox}}</span>
            </div>
        </div>
        </div>
    </div>
    <div class="value">
        <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>Ville : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <span> {{ newObject.deliveryaddress.city}}</span>
            </div>
        </div>
        </div>
    </div>
   
    <div class="value">
        <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>Nom du contact : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <span> {{ newObject.deliveryaddress.name}}</span>
            </div>
        </div>
        </div>
    </div>
    <div class="value">
        <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>Numéro de contact : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <span> {{ newObject.deliveryaddress.telephone}}</span>
            </div>
        </div>
        </div>
    </div>

     
    <p class="text-muted m-b-30 font-13">Instructions de livraison</p>  

    <div class="value">
            <div class="row">
            <div class="col-md-6">
                <div class="name">
                    <span>Code d'accès : </span>
                </div>
            </div>
            <div class=col-md-6>
                <div class="name">
                    <span> {{ newObject.deliveryaddress.delivery_instructions.accesscode}}</span>
                </div>
            </div>
            </div>
    </div>
    
    <div class="value">
        <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>Interphone : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <span> {{ newObject.deliveryaddress.delivery_instructions.interphone}}</span>
            </div>
        </div>
        </div>
    </div>
    <div class="value">
        <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>Code requis : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <span> {{ newObject.deliveryaddress.delivery_instructions.requiredcode}}</span>
            </div>
        </div>
        </div>
    </div>
    <div class="value">
        <div class="row">
        <div class="col-md-6">
            <div class="name">
                <span>Instructions : </span>
            </div>
        </div>
        <div class=col-md-6>
            <div class="name">
                <span> {{ newObject.deliveryaddress.delivery_instructions.instructions}}</span>
            </div>
        </div>
        </div>
    </div>







                                      </div>
                                  </div>

                                  
                              </div>
                          </div>
                      </div>
                  </div>
              
                 
              

        </div>
     </div>
    </section>

    <app-adminfooter></app-adminfooter>
  </div>
 