<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Réservation d'événements</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Toutes les réservation d'événements</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                          <th>Nom de l'événement</th>
                          <th>Organisateur</th>
                          <th>Date de l'événement</th>
                          <th>Date de paiement</th>
                          <th>Montant du paiement</th>
                          <th>Nom de l'utilisateur</th>
                          <th>Billets</th> 
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let d of vendors ">

                          <td>{{ d.event_name }}</td>
                          <td>{{d.org_name}}</td>
                           
                          <td>{{d.edate | date:"dd/mm/yyyy"}} {{d.etime}}</td>

                          <td>{{d.date_of_transaction | date:"dd/mm/yyyy"}}</td>

                          <td>{{d.payment_amount}}</td>
                          <td>{{d.user_name}}</td>
                          
                          
                          <td>
                            <p *ngFor="let objTick of d.tickets">
                              {{objTick}}
                            </p> 
                          </td> 
                          
                          


                      </tr>


                  </tbody>
              </table>
              <!-- <div>
                  <input type="checkbox"  [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)">
                  <div *ngFor="let d of data;">
                      <input type="checkbox" [(ngModel)]="d.is_selected">
                      <span>{{ d.name }}</span>
                  </div>
                </div> -->
                <div class="clearfix"></div>
                <br>
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallBanner(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>
                <div class="clearfix"></div>

          </section>
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>