<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
    <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Tableau de bord</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                  <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
              <div class="clearfix"></div>
              <br>
              <div class="col-md-6">
                <a class="btn btn-primary" routerLink="/allRoute">Cliquez ici et retournez à tous les itinéraires</a>
              </div>
              <!-- <div class="col-md-6">
                <a class="btn btn-success" (click)="assignToDriver(route_id,driver_id)">Envoyer au chauffeur</a>
              </div> -->
              <div class="clearfix"></div>
              <br>
              <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <input class="form-control" type="hidden" formControlName="route_id" [(ngModel)]="route_id">

                <input class="form-control" type="hidden"  formControlName="driver_id" [(ngModel)]="driver_id">

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" formControlName="start_date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date de début de l'itinéraire" >
                        <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
                      <div *ngIf="f['start_date'].touched && f['start_date'].invalid" class="validation_error">
                        <div *ngIf="f['start_date'].errors && f['start_date'].errors['required']">Le Date de début de l'itinéraire est requis.</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" formControlName="start_time" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Heure de début de l'itinéraire" >
                        <owl-date-time #dt2 pickerType="timer"></owl-date-time>
  
                      <div *ngIf="f['start_time'].touched && f['start_time'].invalid" class="validation_error">
                        <div *ngIf="f['start_time'].errors && f['start_time'].errors['required']">Le Heure de début de l'itinéraire est requis.</div>
                      </div>
                    </div>
                  </div>
  
                  
  
                  <div  class="col-md-4">
                    <button type="submit" class="btn btn-primary">Envoyer au chauffeur</button>
                  </div>
                </div>
                
              </form>

              <div class="clearfix"></div>
                              <br>
                              <div class="comeBack_up" *ngIf="apiResponse">
                                <div *ngIf="apiResponse.error; else loggedOut">
                                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </div>
                                <ng-template #loggedOut>
                                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </ng-template>
                              </div>
            <div class="clearfix"></div>
            
              <br>
               
              <br>
            <div class="clearfix"></div>
              <div #map style="width: 100%; height: 600px"></div>
              <!-- /.col -->
              
              <!-- /.col -->
              
              <!-- /.col -->
            </div>
            <!-- /.row -->
  
            <div class="row"></div>
            <!-- /.row -->
  
            <!-- Main row -->
            <div class="row"></div>
            <!-- /.row -->
          </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
     <app-adminfooter></app-adminfooter>
  </div>
  </body>