<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Commande enlevée</h1>
                         
                                
                                <!-- <button routerLink="/shipping_label" class="btn btn-outline-success"><i class="fa fa-print" aria-hidden="true"></i> PRINT INVOICE</button> -->
                              
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Commande enlevée</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              <!-- <div style="margin-left: 14px;display: flex;">
                  <p style="color: #2171ae;font-size: 12px;">All({{data.length}}) &nbsp;| &nbsp;</p>
                  <p style="color: #2171ae;font-size: 12px;">Completed({{data.length}}) &nbsp;| &nbsp;</p>
                  <p style="color: #2171ae;font-size: 12px;">Cancelled({{data.length}}) &nbsp;| &nbsp;</p>
                  <input type="text" class="form-control" placeholder="Search Orders" [(ngModel)]="searchText">
              </div> -->
              <div class="clearfix"></div><br>
              <div style="display:flex"></div>
                  
              
              <!-- <form [formGroup]="form" (ngSubmit)="submit()" class="form-filter">
                      <div class="row">
                          <div class="col-md-2">
                              <div class="form-group">
                                  Utilisateurs
                                   
                                  <select class="form-control" name="customer_id" formControlName="customer_id">
                                      <option value="">Veuillez sélectionner</option>
                                      <option *ngFor="let userObj of users" value="{{userObj._id}}">{{userObj.first_name}} {{userObj.last_name}}</option>
                                    </select>
                              </div>
                          </div>

                         
                          <div class="col-md-2">
                              <div class="form-group">
                                  From: &nbsp;&nbsp;
                                  <input type="date" formControlName="form_date" class="form-control">
                                  
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="form-group">
                                  &nbsp;To: &nbsp;&nbsp;
                                  <input type="date" formControlName="to_date" class="form-control">
                                  
                              </div>
                          </div>
                          <div class="col-md-2">
                              <button type="submit" class="btn btn-outline-secondary">Afficher</button>
                          </div>
                      </div>
                      
                      
                      
                  </form> -->
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>Commande</th>
                      <th >Client</th>
                      <th>Date</th>
                      <!-- <th >State</th> -->
                      <th>Traçabilité</th>
                      <th>Total</th>
                      <th>Paiement</th>
                      <!-- <th>Remboures</th>
                      <th>Vendor</th> -->
                      <!-- <th>Delivery status</th> -->
                      <th>Imprimé</th>
                      
                    </tr>
                  </thead>
                  <ng-container *ngIf="orders.length > 0; else elseUsers">
                  <tbody>
                      <tr *ngFor="let d of orders | filter:searchText ">
                          <td style="color: #2171ae;">
                             <a routerLink="/orderDetail/{{d._id}}"> #{{d.order_id}}</a>
                          </td>
                          <td style="color: #2171ae;" *ngFor="let a of d.customer">        
                                  {{a.first_name}} {{a.last_name}}
                          </td>
                          <td >{{d.date_of_transaction | date: 'dd/MM/yyyy'}}</td>
                           
                          <td>{{d.tracking_number}}</td>
                          <td>{{d.totalPrice}} CFA</td>
                          <td>{{d.payment_method}} </td>
                          <!-- <td>{{d.Remboures}} </td>
                          <td>-</td> -->
                          <!-- <td  style="color: #2171ae;" *ngFor="let a of d.vendors">
                              <div *ngIf="a">
                                  {{a.first_name}} {{a.last_name}}
                              </div>
                                                           
                          </td> -->
                          <!-- <td >
                              <div class='badge' style="color: green;" *ngIf="d.delivery_status == '0' ">
                                  Delivered
                              </div>
                              <div class='badge' style="color: orange;" *ngIf="d.delivery_status == '1' ">
                                  Pending
                              </div>
                             
                          </td>  -->
                          <td> 
                            <!-- <a class="btn btn-outline-success" target="_blank" routerLink="/shipping_label/{{d._id}}" ><i class="fa fa-print"></i></a> -->
                            <a class="btn btn-outline-success"    (click)="downloadOrderInvoice2(d.order_id)" ><i class="fa fa-print"></i></a>
                            
                          </td>           
                      </tr>
                      <tr *ngIf="orders.length == 0">
                          Aucune commande trouvée
                      </tr>
                      
                  </tbody>

                  </ng-container>
                  <ng-template #elseUsers>
                  <tbody >
                      <tr>
                          <td class="no-data" colspan="10">
                              <i class="fa fa-file"></i>
                              <p>Aucune donnée trouvée</p>
                          </td>
                      </tr>
                  </tbody>
                  </ng-template>
                </table>
              
                
                <!-- <div class="clearfix"></div>
                <br>
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                    (click)="getallColor(item)">
                    <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul> -->

          </section>
          
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>