<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Plan de route</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Ajouter un plan de route</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">

                
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    <div class="row">
                      <input type="hidden" name="route_id" formControlName="route_id" [(ngModel)]="route_id">
                      <div class="col-md-5">
                        <div class="form-group col-md-10">
                          <label class="form-label">Adresse*</label>
                            <div class="form-group">
                                <input formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"class="form-control"
                                placeholder="Adresse" [(ngModel)]="address"/>
                              <div *ngIf="f['address'].touched && f['address'].invalid" class="validation_error">
                                <div *ngIf="f['address'].errors && f['address'].errors['required']">Adresse de départ est requis.</div>
                              </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                          <label class="form-label">Nom complet</label>
                            <div class="form-group">
                              <input type="text" formControlName="fullName"
                                id="fullName"  
                                class="form-control"
                                placeholder="Nom complet" [(ngModel)]="old_fullName">
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                          <label class="form-label">Téléphone</label>
                            <div class="form-group">
                              <input type="number" formControlName="mobileNumber"
                                id="mobileNumber"  
                                class="form-control"
                                placeholder="Numéro de mobile" [(ngModel)]="old_mobileNumber">
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                          <label class="form-label">Notes</label>
                            <div class="form-group">
                              <input type="text" formControlName="notes"
                                id="notes"  
                                class="form-control"
                                placeholder="Notes" [(ngModel)]="old_notes">
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                          <label class="form-label">Priorité*</label>
                             <div class="form-group">
                                <select class="form-control" name="priority" formControlName="priority" [(ngModel)]="old_priority" >
                                   <option value="Normal" >Normal</option>
                                   <option value="Medium">Moyenne</option>
                                   <option value="High">Élevé</option>
                                </select>
    
                                <div *ngIf="f['priority'].touched && f['priority'].invalid" class="validation_error"> 
                                  <div *ngIf="f['priority'].errors && f['priority'].errors['required']">Le Priorité est obligatoire</div>
                                </div>
                          </div>
                        </div>
                        <div class="form-group  col-md-10">
                          <label class="form-label">Durée du service en minutes</label>
                            <div class="form-group"> 
                              <select class="form-control" name="serviceTime" formControlName="serviceTime" [(ngModel)]="old_serviceTime">
                                <option value="">Sélectionnez le priorité</option>
                                <option *ngFor="let val of numericArray" [value]="val">{{val}}</option>
                              </select>
                            </div>
                        </div>

                      </div>
                      <div class="col-md-7">
                        <div class="form-group col-md-10">
                          <label class="form-label">Nom de l'entreprise</label>
                            <div class="form-group">
                              <input type="text" formControlName="businessName"
                                id="businessName"  
                                class="form-control" [(ngModel)]="old_businessName"
                                placeholder="Nom de l'entreprise">
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                          <label class="form-label">Email</label>
                            <div class="form-group">
                              <input type="email" formControlName="email"
                                id="email"  
                                class="form-control" [(ngModel)]="old_email"
                                placeholder="Courriel">
                            </div>
                        </div>
                        <div class="form-group row">
                          <label class="form-label col-md-4 col-lg-3">Type d'arrêt</label>
                          <div class="col-xl-5 col-md-8 col-lg-6">
                            <div class="form-group"> 
                              <input id="" type="radio" value="Delivery" formControlName="stopType" >
                              &nbsp;<label for="dinner">Delivery</label>&nbsp;&nbsp;
                              <input id="" type="radio" value="Pickup" formControlName="stopType" >
                              &nbsp;<label for="dinner">Pickup</label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="form-label col-md-4 col-lg-3">Place dans le véhicule</label>
                          <div class="col-xl-5 col-md-8 col-lg-6">
                            <div class="form-group"> 
                              <input id="" type="radio" value="Front" formControlName="parcelFront" >
                              &nbsp;<label for="dinner">Avant</label>&nbsp;&nbsp;
                              <input id="" type="radio" value="Middle" formControlName="parcelFront" >
                              &nbsp;<label for="dinner">Milieu</label>&nbsp;&nbsp;
                              <input id="" type="radio" value="Back" formControlName="parcelFront" >
                              &nbsp;<label for="dinner">Arrière</label>
                            </div>
                        </div>
                        </div>
                        <div class="form-group row">
                          <label class="form-label col-md-4 col-lg-3">Place dans le véhicule</label>
                          <div class="col-xl-5 col-md-8 col-lg-6">
                            <div class="form-group"> 
                              <input id="" type="radio" value="Left" formControlName="parcelLeft" >
                              &nbsp;<label for="dinner">Gauche</label>&nbsp;&nbsp;
                              <input id="" type="radio" value="Right" formControlName="parcelLeft" >
                              &nbsp;<label for="dinner">Droite</label>
                            </div>
                        </div>
                        </div>
                        <div class="form-group row">
                          <label class="form-label col-md-4 col-lg-3">Place dans le véhicule</label>
                          <div class="col-xl-5 col-md-8 col-lg-6">
                            <div class="form-group"> 
                              <input id="" type="radio" value="Floor" formControlName="parcelFloor" >
                              &nbsp;<label for="dinner">Plancher</label>&nbsp;&nbsp;
                              <input id="" type="radio" value="Shelf" formControlName="parcelFloor" >
                              &nbsp;<label for="dinner">Étagère</label>
                            </div>
                        </div>
                        </div>
                        <div class="form-group row mb-0">
                          <label class="form-label col-md-4 col-lg-3">Nombre de parcelles</label>
                          <div class="col-xl-5 col-md-8 col-lg-6">
                            <div class="form-group">
                              <input type="number" formControlName="parcelCount"
                                id="parcelCount"  
                                class="form-control" [(ngModel)]="old_parcelCount"
                                placeholder="Nombre de parcelles">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row mb-0">
                          <label class="form-label col-md-4 col-lg-3">Image de la parcelle</label>
                          <div class="col-xl-5 col-md-8 col-lg-6">
                            <div class="form-group">
                              <input type="file" formControlName="images"(change)="onFileChange($event)"
                              accept="image/png, image/jpeg, image/jpg, image/gif">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Soumettre</button>
                      </div>

                      <div class="clearfix"></div>
                      <br>
                      <div class="comeBack_up" *ngIf="apiResponse">
                        <div *ngIf="apiResponse.error; else loggedOut">
                          <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                        </div>
                        <ng-template #loggedOut>
                          <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </form>
                

                

                


              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>