<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Tous les arrêts</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Arrêter avec des détails</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Arrêter avec des détails<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                 
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                 
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="white-box"> 
                        <div *ngFor="let xyz of record" >


    

                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Nom de l'itinéraire</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.routeName}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Distance totale</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span>   {{ xyz.totalDistance | number : '1.2-2' }} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                         
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Durée totale</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.totalHour}} heure : {{xyz.totalMin}} minute</span>
                                    </div>
                                </div>
                            </div>
                          </div>
                         
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Arrêt total</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.totalStop}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                         
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Arrêt complet</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.completedStop}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Arrêt manqué</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{xyz.missedStop}} </span>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class="value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Statut</span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                      
                                      <div *ngIf=" xyz.status == 0; else statusOut">
                                        <span class="badge bg-success">En cours</span>
                                      </div>
                                      <ng-template #statusOut>
                                          <ng-container *ngIf=" xyz.status == 1;else third">
                                            <span class="badge bg-info">Assignée</span>
                                          </ng-container>
                                      </ng-template>
                
                                      <ng-template #third>
                                        <ng-container *ngIf=" xyz.status == 2;else fourth">
                                          <span class="badge bg-success">Début</span>
                                        </ng-container>
                                      </ng-template>
                                      <ng-template #fourth>
                                          <ng-container *ngIf=" xyz.status == 3; else fifth">
                                            <span class="badge bg-success">Complété</span>
                                          </ng-container>
                                      </ng-template>
                                      
                                      <ng-template #fifth>
                                        <ng-container *ngIf=" xyz.status == 4">
                                          <span class="badge bg-danger">Annulé</span>
                                        </ng-container>
                                    </ng-template>

                                    </div>
                                </div>
                            </div>
                          </div>
                          


                          


                      </div>

                    </div>   
                  </div>
                </div>

              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content sellerinfo -->

    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
      <div class="row">

              <div ></div> 
              <!-- <ng-container *ngIf="let jjObj of data"></ng-container> -->
                  <div class="col-md-6" *ngFor="let newObject of record2">
                      <div class="card">
                          <div class="card-body">
                              <p class="text-muted m-b-30 font-13">Détails sur le vendeur et le produit</p>  
                              <div class="row">
                                  <div class="col-lg-12 col-md-12">
                                      <div class="white-box">


                                        <div class="value">
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="name">
                                                      <span>Statut</span>
                                                  </div>
                                              </div>
                                              <div class=col-md-6>
                                                  <div class="name">
                                                    <!-- // 1 Assigned to driver 2 start 3 delivered 4 cancled -->
                                                    <div *ngIf=" newObject.status == 1; else statusOut">
                                                      <span class="badge bg-success">Attribué</span>
                                                    </div>
                                                    <ng-template #statusOut>
                                                        <ng-container *ngIf=" newObject.status == 2;else third">
                                                          <span class="badge bg-info">Démarrage</span>
                                                        </ng-container>
                                                    </ng-template>
                              
                                                    <ng-template #third>
                                                      <ng-container *ngIf=" newObject.status == 3;else fourth">
                                                        <span class="badge bg-success">Livré</span>
                                                      </ng-container>
                                                    </ng-template>
                                                    <ng-template #fourth>
                                                        <ng-container *ngIf=" newObject.status == 4;  ">
                                                          <span class="badge bg-success">Annulé</span>
                                                        </ng-container>
                                                    </ng-template>
                                                     
                                                  </div>
                                              </div>
                                          </div>
                                        </div>


                                        <div class="value">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>Type d'itinéraire : </span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                    <span> </span>
                                                    <div *ngIf=" newObject.routeType == 'start'; else statusOut11">
                                                      <span class="badge bg-success">Démarrage</span>
                                                    </div>
                                                    <ng-template #statusOut11>
                                                        <ng-container *ngIf=" newObject.routeType == 2;else third11">
                                                          <span class="badge bg-info">Fin</span>
                                                        </ng-container>
                                                    </ng-template>
                                                    <ng-template #third11>
                                                      <span class="badge bg-info">Arrêt</span>
                                                    </ng-template>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="value">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>Type d'arrêt : </span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                  
                                                  
                                                  <ng-container *ngIf="newObject.stopType == 'Delivery'; else stopTypeElse ">
                                                    Livraison
                                                  </ng-container>
                                                  <ng-template #stopTypeElse>
                                                    <ng-container *ngIf="newObject.stopType == 'Pickup' ">
                                                      Pickup
                                                    </ng-container>
                                                  </ng-template>
                                                    <span>  </span>
                                                </div>
                                            </div>
                                            </div>
                                        </div>


                                        <div class="value">
                                          <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Adresse : </span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span> {{ newObject.address}}</span>
                                              </div>
                                          </div>
                                          </div>
                                      </div>

                                      <div class="value">
                                        <div class="row">
                                        <div class="col-md-6">
                                            <div class="name">
                                                <span>Priorité : </span>
                                            </div>
                                        </div>
                                        <div class=col-md-6>
                                            <div class="name">
                                                <span> {{ newObject.priority}}</span>
                                            </div>
                                        </div>
                                        </div>
                                    </div>


                                    <div class="value">
                                      <div class="row">
                                      <div class="col-md-6">
                                          <div class="name">
                                              <span>Nom complet : </span>
                                          </div>
                                      </div>
                                      <div class=col-md-6>
                                          <div class="name">
                                              <span> {{ newObject.fullName}}</span>
                                          </div>
                                      </div>
                                      </div>
                                  </div>


                                  <div class="value">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Téléphone : </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span> {{ newObject.mobileNumber}}</span>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="value">
                                  <div class="row">
                                  <div class="col-md-6">
                                      <div class="name">
                                          <span>Durée du service en minutes : </span>
                                      </div>
                                  </div>
                                  <div class=col-md-6>
                                      <div class="name">
                                          <span> {{ newObject.serviceTime}}</span>
                                      </div>
                                  </div>
                                  </div>
                              </div>


                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Notes : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{ newObject.notes}}</span>
                                    </div>
                                </div>
                                </div>
                            </div>



                            <div class="value">
                              <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Nom de l'entreprise : </span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span> {{ newObject.businessName}}</span>
                                  </div>
                              </div>
                              </div>
                          </div>

                          <div class="value">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="name">
                                    <span>Email : </span>
                                </div>
                            </div>
                            <div class=col-md-6>
                                <div class="name">
                                    <span> {{ newObject.email}}</span>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="value">
                          <div class="row">
                          <div class="col-md-6">
                              <div class="name">
                                  <span>Place dans le véhicule : </span>
                              </div>
                          </div>
                          <div class=col-md-6>
                              <div class="name">
                                  <span> {{ newObject.parcelFront}}</span>
                              </div>
                          </div>
                          </div>
                      </div>

                      <div class="value">
                        <div class="row">
                        <div class="col-md-6">
                            <div class="name">
                                <span>Place dans le véhicule : </span>
                            </div>
                        </div>
                        <div class=col-md-6>
                            <div class="name">
                                <span> {{ newObject.parcelLeft}}</span>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="value">
                      <div class="row">
                      <div class="col-md-6">
                          <div class="name">
                              <span>Place dans le véhicule : </span>
                          </div>
                      </div>
                      <div class=col-md-6>
                          <div class="name">
                              <span> {{ newObject.parcelFloor}}</span>
                          </div>
                      </div>
                      </div>
                  </div>

                  <div class="value">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="name">
                            <span>Nombre de parcelles : </span>
                        </div>
                    </div>
                    <div class=col-md-6>
                        <div class="name">
                            <span> {{ newObject.parcelCount}}</span>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="value">
                  <div class="row">
                  <div class="col-md-6">
                      <div class="name">
                          <span>Image de la parcelle : </span>
                      </div>
                  </div>
                  <div class=col-md-6>
                      <div class="name">
                          <span> {{ newObject.image}}</span>
                      </div>
                  </div>
                  </div>
              </div>

                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Texte de livraison : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{ newObject.deliveryText}}</span>
                                    </div>
                                </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Signature de livraison : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                      <ng-container *ngIf="newObject.deliverySignature">
                                        <a href="{{base_url_node_plain}}public/uploads/deliveryStop/{{ newObject.deliverySignature}}" target="_blank">
                                          <img src="{{base_url_node_plain}}public/uploads/deliveryStop/{{ newObject.deliverySignature}}" height="120" width="100"/>
                                        </a>
                                      </ng-container>
                                      
                                    </div>
                                </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Photo de livraison : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                      <ng-container *ngIf="newObject.deliveryPhoto">
                                        <span> <a  href="{{base_url_node_plain}}public/uploads/deliveryStop/{{ newObject.deliveryPhoto}}" target="_blank">
                                          <img src="{{base_url_node_plain}}public/uploads/deliveryStop/{{ newObject.deliveryPhoto}}" height="120" width="100"/>
                                        </a> </span>
                                      </ng-container>
                                        
                                    </div>
                                </div>
                                </div>
                              </div>


                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Client du bon de livraison : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{ newObject.deliveryNoteClient}}</span>
                                    </div>
                                </div>
                                </div>
                              </div>


                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Société de bons de livraison : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{ newObject.deliveryNoteCompany}}</span>
                                    </div>
                                </div>
                                </div>
                              </div>


                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Distance en kilomètres : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{ newObject.distance}}</span>
                                    </div>
                                </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Durée de la distance en minutes : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{ newObject.distanceTime}}</span>
                                    </div>
                                </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="name">
                                        <span>Date : </span>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class="name">
                                        <span> {{ newObject.created_at | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </div>
                                </div>
                              </div>


              
                              




                                      </div>
                                  </div>

                                  
                              </div>
                          </div>
                      </div>
                  </div>
        </div>
     </div>
    </section>

    <app-adminfooter></app-adminfooter>
  </div>
 