<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Réglage</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Réglage</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Réglage<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    

                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre maximal de jours de retour</label>
                      <input type="number" formControlName="return_max_day"
                        id="return_max_day"  
                        class="form-control"
                        [(ngModel)]="return_max_day_old"
                        placeholder="Nombre maximal de jours de retour">
                      <div *ngIf="f['return_max_day'].touched && f['return_max_day'].invalid" class="validation_error">
                        <div *ngIf="f['return_max_day'].errors && f['return_max_day'].errors['required']">Nombre maximal de jours de retour est requis.</div>
                      </div>
                    </div>
                     

                    <div class="form-group">
                      <label for="exampleInputEmail1">Prix de retour </label>
                      <input type="number" formControlName="returnprice"
                        id="returnprice"  
                        class="form-control"
                        [(ngModel)]="getReturnPrice"
                        placeholder="Nombre maximal de jours de retour">
                      <div *ngIf="f['returnprice'].touched && f['returnprice'].invalid" class="validation_error">
                        <div *ngIf="f['returnprice'].errors && f['returnprice'].errors['required']">Prix de retour est requis.</div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="exampleInputEmail1">Taxe sur les produits ( % )</label>
                      <input type="number" formControlName="tax"
                        id="tax"  
                        class="form-control"
                        [(ngModel)]="getProductTax"
                        placeholder="Taxe sur les produits ( % )">
                      <div *ngIf="f['tax'].touched && f['tax'].invalid" class="validation_error">
                        <div *ngIf="f['tax'].errors && f['tax'].errors['required']">La taxe sur les produits est requise.</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Commission </label>
                      <input type="number" formControlName="commission"
                        id="commission"  
                        class="form-control"
                        [(ngModel)]="getCommission"
                        placeholder="">
                      <div *ngIf="f['commission'].touched && f['commission'].invalid" class="validation_error">
                        <div *ngIf="f['commission'].errors && f['commission'].errors['required']">Commission est requis.</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Frais d'expédition </label>
                      <input type="number" formControlName="shipping_cost"
                        id="shipping_cost"  
                        class="form-control"
                        [(ngModel)]="getShippingCost"
                        placeholder="">
                      <div *ngIf="f['shipping_cost'].touched && f['shipping_cost'].invalid" class="validation_error">
                        <div *ngIf="f['shipping_cost'].errors && f['shipping_cost'].errors['required']">Frais d'expédition est requis.</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Frais d'expédition imidiate </label>
                      <input type="number" formControlName="imidiate_shipping_cost"
                        id="imidiate_shipping_cost"  
                        class="form-control"
                        [(ngModel)]="getImidiateShippingCost"
                        placeholder="">
                      <div *ngIf="f['imidiate_shipping_cost'].touched && f['imidiate_shipping_cost'].invalid" class="validation_error">
                        <div *ngIf="f['imidiate_shipping_cost'].errors && f['imidiate_shipping_cost'].errors['required']">Frais d'expédition imidiate est requis.</div>
                      </div>
                    </div>
                      
                    <div class="form-group">
                      <label for="exampleInputEmail1">Estimation de la durée </label>
                      <input type="number" formControlName="estimate_time"
                        id="estimate_time"  
                        class="form-control"
                        [(ngModel)]="getEstimateTime"
                        placeholder="">
                      <div *ngIf="f['estimate_time'].touched && f['estimate_time'].invalid" class="validation_error">
                        <div *ngIf="f['estimate_time'].errors && f['estimate_time'].errors['required']">Estimation de la durée est requis.</div>
                      </div>
                    </div>

                    
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.error; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                    </div>
  
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>