<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Chauffeur</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Tous les chauffeur</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Tous les chauffeur<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                <!-- <div>
                  <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportCsvDriverApi"  target="_blank" download="download"  >Exporter csv</a></b>
                </div> -->
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                              <label for="exampleInputEmail1">Nom</label>
                              <input type="text" formControlName="fullName"
                                id="fullName"  
                                class="form-control"
                                placeholder="Nom"
                                >
                          </div>
                        </div>
                        
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Courriel</label>
                            <input type="text" formControlName="email"
                              id="email"  
                              class="form-control"
                              placeholder="Nom de famille"
                              >
                          </div>
                        </div>
                        <div class="col-md-2"> 
                          <div class="form-group">
                            <label for="exampleInputEmail1">Numéro de portable</label>
                            <input type="text" formControlName="mobileNumber"
                              id="mobileNumber"  
                              class="form-control"
                              placeholder="Numéro de portable"
                              >
                          </div>
                        </div>
                        
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Statut</label>
                              <select name="status" formControlName="status"  
                                class="form-control"
                                >
                              <option value="">Veuillez sélectionner</option>
                              <option value="1">Actif</option>
                              <option value="2">Inactif</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-primary">Soumettre</button>
                          
                        </div>
                        <div class="col-md-2">    
                          <a href="{{base_url}}allDrivers" class="btn btn-warning">Réinitialisation</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <!-- <button type="submit" class="btn btn-primary">Soumettre</button>
                      &nbsp;&nbsp;&nbsp;
                      <a href="{{base_url}}allDrivers" class="btn btn-warning">Réinitialisation</a> -->
  
  
                    </div>
                    <div class="card-footer">
                      
                    </div>
                  </form>
  
                  
  
  
                <div class="table-responsive">
                  <!-- <table class="table table-striped"   datatable [dtOptions]="dtOptions"> -->
                  <table class="table nowrap">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th> 
                        <th>Nom complet</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Type de véhicule</th>
                        <th>Temps d'équipe</th>
                        <th>Temps de pause</th>
                        <th>Lieu de départ</th>
                        <th>Lieu de fin</th>
                        <th>Statut</th>
                         <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr *ngFor="let val of record let i = index">
                        <td>{{ i+1 }}</td> 
                        <td>{{ val.fullName}}</td>
                        <td>{{ val.email}}</td>
                        <td>{{ val.mobileNumber}}</td>
                        <td>{{ val.vehicleType}}</td>
                        <td>
                          {{val.shiftStartTime | date:'h:mm a'}}
                        </td>
                        <td>{{ val.shiftEndTime | date:'h:mm a'}}</td>
                        <td>{{ val.startAddress}}</td>
                        <td>{{ val.endAddress}}</td>
                        <td>
                          <div *ngIf="val.status == 1; else statusOut">
                            <span class="badge bg-success">Actif</span>
                          </div>
                            <ng-template #statusOut>
                                <span class="badge bg-danger">Inactif</span>
                            </ng-template>
                        </td>
                        
                        <td>
                            <a class="btn btn-danger btn-sm"  (click)="deleteDriverAC(val._id)" >Supprimer Chauffeur</a>
                            <div class="clearfix"></div>
                            &nbsp; &nbsp; <div class="clearfix"></div>
                            
                            <a  class="btn btn-info btn-sm" routerLink="/editDriver/{{val._id}}"><i class="fas fa-pencil-alt">
                            </i>Modifier</a>
                            &nbsp;&nbsp;
                            <a class="btn btn-success btn-sm" (click)="updateUserStatus(val._id,1)" >Approuvé</a> <div class="clearfix"></div>
                            &nbsp;&nbsp; <div class="clearfix"></div>
                            <a class="btn btn-danger btn-sm" (click)="updateUserStatus(val._id,2)" >Désapprouvé</a>
                           
                          
                          <div class="clearfix"></div>
                            
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>  
                <div class="clearfix"></div>
                  <br>
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                        (click)="getallBanner(item)">
                        <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
                  <div class="clearfix"></div>
                  <br>
                <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                </div>
  
  
                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>