<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Expédition totale</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Expédition totale</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Expédition totale<small> </small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table  ">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>ID</th>
                          <th>Nom complet</th> 
                          <th>Téléphone</th>
                          <th>Email</th>
                          <th>Prix de l'envoi</th>
                          <th>Pourcentage de taxe</th>
                          <th>Prix de la taxe</th>
                          <th>Prix total</th>
                          <th>Statut</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <ng-container *ngIf="record.length > 0; else elseUsers">
                      <tbody>
                         
                        <tr *ngFor="let val of record let i = index">
                          <td>{{ i+1 }}</td>
                          <td>{{ val.invoice_id_random }}</td>
                          <td>{{ val.user_id[0].first_name}} {{ val.user_id[0].last_name}}</td>
                          <td>{{ val.user_id[0].phone}}</td>
                          <td>{{ val.user_id[0].email}}</td>
                          <td>{{ val.shipment_price}}</td>
                          <td>{{ val.tax_percent}}</td>
                          <td>{{ val.tax_price}}</td>
                          <td>{{ val.total_price}}</td>
                          <td>
                            <div *ngIf="val.paid_status == 0; else statusOut">
                              <span class="badge bg-warning">En attente de</span>
                            </div>
                            <ng-template #statusOut>
                                <ng-container *ngIf="val.paid_status == 1;">
                                  <span class="badge bg-success">Payé</span>
                                </ng-container>
                            </ng-template>
                          </td>  
                          <td>
                            <a routerLink="/allInvoiceShipment/{{ val._id}}" >
                              <i class="">Détail</i>
                            </a>
                          </td>
                        </tr>
  
                      </tbody>

                    </ng-container>
                    <ng-template #elseUsers>
                    <tbody >
                    <tr>
                        <td class="no-data" colspan="10">
                            <i class="fa fa-file"></i>
                            <p>Aucune donnée trouvée</p>
                        </td>
                    </tr>
                    </tbody>
                </ng-template>


                    </table>
                  </div>  
                  <div class="clearfix"></div>
                  <br>
  
                   
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                        (click)="getallBanner(item)">
                        <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
  
                  <div class="clearfix"></div>
                    <br>
                <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                </div>
  
  
                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>