<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
    <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Tableau de bord</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                  <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
          <div style="display: flex;">
              <div class="col-6 card card-4">
                  <table>
                      <tr>
                          <td style="padding: 10px;">Sommaire</td>
                          <td style="padding: 10px;text-align: end;color: gray;">Comission gagnee</td>
                      </tr>
                      <tr>
                          <td>
                              <div class="col-12 col-sm-12 col-md-12">
                                  <div class="info-box mb-12">
                                      <span class="info-box-icon "><i class="fas fa-chart-bar"></i></span>

                                      <div class="info-box-content">
                                          <span class="info-box-number fcol">{{ordersthismonth}}</span>
                                          <span class="info-box-text">Ventes nettes ce mois-ci</span>

                                      </div>
                                      <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                              </div>
                          </td>
                          <td>
                              <div class="col-12 col-sm-12 col-md-12">
                                  <div class="info-box mb-12">
                                      <span class="info-box-icon "><i class="fas fa-chart-pie"
                                              style="color: green;"></i></span>

                                      <div class="info-box-content">
                                          <span class="info-box-number fcol">{{totalcommissionearned}}</span>
                                          <span class="info-box-text">Commission perçue</span>

                                      </div>
                                      <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="col-12 col-sm-12 col-md-12">
                                  <div class="info-box mb-12">
                                      <span class="info-box-icon "><i class="fas fa-credit-card"
                                              style="color: green;"></i></span>

                                      <div class="info-box-content">
                                          <span class="info-box-number fcol">{{totalsellerthismonth}} Vendeur</span>
                                          <span class="info-box-text">S'inscrire ce mois-ci</span>

                                      </div>
                                      <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                              </div>
                          </td>
                          <td>
                              <div class="col-12 col-sm-12 col-md-12">
                                  <div class="info-box mb-12">
                                      <span class="info-box-icon "><i class="fas fa-users"
                                              style="color: orange;"></i></span>

                                      <div class="info-box-content">
                                          <span class="info-box-number fcol">{{sellerthismonthnotapproved}} Vendeur</span>
                                          <span class="info-box-text">En attente d'approbation</span>

                                      </div>
                                      <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="col-12 col-sm-12 col-md-12">
                                  <div class="info-box mb-12">
                                      <span class="info-box-icon "><i class="fas fa-list"
                                              style="color: gray;"></i></span>

                                      <div class="info-box-content">
                                          <span class="info-box-number fcol">{{totalproductsthismonth}} Produits</span>
                                          <span class="info-box-text">Créé ce mois-ci</span>

                                      </div>
                                      <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                              </div>
                          </td>
                          <td>
                              <div class="col-12 col-sm-12 col-md-12">
                                  <div class="info-box mb-12">
                                      <span class="info-box-icon "><i class="fas fa-credit-card"
                                              style="color: red;"></i></span>

                                      <div class="info-box-content">
                                          <span class="info-box-number fcol">{{totalwithdrawls}} Retraits</span>
                                          <span class="info-box-text">En attente d'approbation</span>

                                      </div>
                                      <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                              </div>
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="col-6 card card-4" >
                  <label style="color:gray"> Vue d'ensemble</label>
                  <canvas id="linechart"></canvas>
              </div>
          </div>

          <div style="display: flex;">
              <div class="col-6  card card-4">
                  <label style="color:gray"><i class="fa fa-shopping-cart"></i> Commandes</label>
                  <canvas id="piechart"></canvas>
              </div>
              <div class="col-6  card card-4">
                  <label style="color:gray"><i class="fa fa-shopping-cart"></i> Dépenses</label>
                  <canvas id="polar"></canvas>
              </div>
          </div>
        
          
          
        <div style="display: flex;">
            <div class="col-12  card card-4">
                <div class="card-body p-0">
                    <div class="card-header">
                        <h3 class="card-title">Demandes de livraison récentes<small> </small></h3>
                      </div>
                    <div class="table-responsive">
                      <table class="table ">
                        <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>ID</th>
                            <th>Nom de l'expéditeur</th> 
                            <th>Nom de l'expéditeur personne</th>
                            <th>Téléphone de l'expéditeur</th>
                            <th>Adresse de ramassage</th>
                            <th>Nom du destinataire</th>
                            <th>Numéro du destinataire</th>
                            <th>Adresse de livraison</th>
                            <th>Statut</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                           
                          <tr *ngFor="let val of record let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ val.order_id }}</td>
                            <td>{{ val.full_name}}</td>
                            <td>{{ val.contact_person_name}}</td>
                            <td>{{ val.mobile_number}}</td>
                            <td>{{ val.pickup_address}}</td>
                            <td>{{ val.receiver_name}}</td>
                            <td>{{ val.receiver_phone}}</td>
                            <td>{{val.receiver_address}}</td>
                            <td>
                              <div *ngIf="val.status == 1; else statusOut">
                                <span class="badge bg-success">En cours</span>
                              </div>
                              <ng-template #statusOut>
                                  <ng-container *ngIf="val.status == 2;else third">
                                    <span class="badge bg-info">Expédié</span>
                                  </ng-container>
                              </ng-template>
        
                              <ng-template #third>
                                <ng-container *ngIf="val.status == 3;else fourth">
                                  <span class="badge bg-success">Complété</span>
                                </ng-container>
                              </ng-template>
                              <ng-template #fourth>
                                  <ng-container *ngIf="val.status == 4">
                                    <span class="badge bg-danger">Annulé</span>
                                  </ng-container>
                              </ng-template>
        
                            </td>  
                            <td>
                              <a routerLink="/adminShipmentDetail/{{ val._id}}" >
                                <i class="">Détail</i>
                              </a>
                            </td>
                          </tr>
    
                        </tbody>
                      </table>
                    </div>  
                    <div class="clearfix"></div>
                    <br>
    
                     
                    <ul class="pagination">
                        <li   *ngFor="let item of numbers; let i = index"  
                        [class.active]="selectedIndex === i"
                          (click)="getallBanner(item)">
                          <a class="" href="javascript:void(0)">{{item+1}}</a>
                        </li> 
                    </ul>
    
                    <div class="clearfix"></div>
                      <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.error; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                    </div>
    
    
                  </div>
            </div>
        </div>


      </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
     <app-adminfooter></app-adminfooter>
  </div>
  </body>