body {
    background-color: #fff;
  }
  .form-control{
    width: 20%;
    margin-left: auto;
  }
  
  .top-information,
  .bottom-information {
    padding: 0 20px;
  }
 td{
    font-weight: 400;
    font-size: 14px;
  }
  th{
    font-weight: 500;
  }