<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Plan de route</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Tous les plans de route</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Tous les plans de route<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                <!-- <div>
                  <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportCsvDriverApi"  target="_blank" download="download"  >Exporter csv</a></b>
                </div> -->
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <!-- <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                              <label for="exampleInputEmail1">Nom</label>
                              <input type="text" formControlName="fullName"
                                id="fullName"  
                                class="form-control"
                                placeholder="Nom"
                                >
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Courriel</label>
                            <input type="text" formControlName="email"
                              id="email"  
                              class="form-control"
                              placeholder="Nom de famille"
                              >
                          </div>
                        </div>
                        <div class="col-md-4"> 
                          <div class="form-group">
                            <label for="exampleInputEmail1">Numéro de portable</label>
                            <input type="text" formControlName="mobileNumber"
                              id="mobileNumber"  
                              class="form-control"
                              placeholder="Numéro de portable"
                              >
                          </div>
                        </div>
                        
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Statut</label>
                              <select name="status" formControlName="status"  
                                class="form-control"
                                >
                              <option value="">Veuillez sélectionner</option>
                              <option value="1">Actif</option>
                              <option value="2">Inactif</option>
                            </select>
                          </div>
                        </div>
  
                      </div>
                    </div>
                     
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Soumettre</button>
                      &nbsp;&nbsp;&nbsp;
                      <a href="{{base_url}}allDrivers" class="btn btn-warning">Réinitialisation</a>
  
  
                    </div>
                    <div class="card-footer">
                      
                    </div>
                  </form> -->
  
                  
  
  
                <div class="table-responsive">
                  <!-- <table class="table table-striped"   datatable [dtOptions]="dtOptions"> -->
                  <table class="table ">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th> 
                        <th>Nom de la route</th>
                        <th>Arrêt total</th>
                        <th>Arrêt complet</th>
                        <th>Arrêt manqué</th>
                        <th>Nom complet</th>
                        <th>Numéro de téléphone</th>
                        <th>Statut</th>
                        <th>État de la notification</th>
                         <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr *ngFor="let val of record let i = index">
                        <td>{{ i+1 }}</td> 
                        <td>{{ val.routeName}}</td>
                        <td>{{ val.totalStop}}</td>
                        <td>{{ val.completedStop}}</td>
                        <td>{{ val.missedStop}}</td>
                        <td>
                          <ng-container *ngIf="val.driver_id.length > 0">
                            {{ val.driver_id[0].fullName}}
                          </ng-container>
                        </td>
                        <td>
                          <ng-container *ngIf="val.driver_id.length > 0">
                            {{ val.driver_id[0].mobileNumber}}
                          </ng-container>
                        </td>
                         
                        <td>
                          
                          <div *ngIf="val.status == 0; else statusOut">
                            <span class="badge bg-success">En cours</span>
                          </div>
                          <ng-template #statusOut>
                              <ng-container *ngIf="val.status == 1;else third">
                                <span class="badge bg-info">Assignée</span>
                              </ng-container>
                          </ng-template>
    
                          <ng-template #third>
                            <ng-container *ngIf="val.status == 2;else fourth">
                              <span class="badge bg-success">Début</span>
                            </ng-container>
                          </ng-template>
                          <ng-template #fourth>
                              <ng-container *ngIf="val.status == 3; else fifth">
                                <span class="badge bg-success">Complété</span>
                              </ng-container>
                          </ng-template>
                          
                          <ng-template #fifth>
                            <ng-container *ngIf="val.status == 4">
                              <span class="badge bg-danger">Annulé</span>
                            </ng-container>
                        </ng-template>
                        </td>
                        <td>
                          <div *ngIf="val.trip_status == 0; else statusOut22">
                            <span class="badge bg-danger">Non envoyé</span>
                          </div>
                          <ng-template #statusOut22>
                                <span class="badge bg-success">Envoyé</span>
                          </ng-template>
                        </td>
                        <td>
                          
                          <ng-container *ngIf="val.status <= 2;">
                            <a  class="btn btn-info btn-sm" routerLink="/addRoute/{{val._id}}">Ajouter un arrêt</a>
                          </ng-container>
                          <div class="clearfix"></div><br>
                          <ng-container *ngIf="val.driver_id.length >0; else assignElse">
                          </ng-container>
                          <ng-template #assignElse>
                            <a  class="btn btn-success btn-sm" routerLink="/assignRoute/{{val._id}}">Attribuer un itinéraire</a>
                          </ng-template>

                          <div *ngIf="val.trip_status == 0;">
                            <ng-container *ngIf="val.driver_id.length >0;">
                              <a class="btn btn-success" (click)="assignToDriver(val._id,val.driver_id[0])">Envoyer au chauffeur</a>
                            </ng-container>
                          </div>

                          <a  class="btn btn-info btn-sm" target="_blank" routerLink="/allStop/{{val._id}}">Tous les arrêts</a>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>  
                <div class="clearfix"></div>
                  <br>
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                        (click)="getallBanner(item)">
                        <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
                  <div class="clearfix"></div>
                  <br>
                <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                </div>
  
  
                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>