<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="../../assets/admin-js-css/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img *ngIf="old_userImage; else imageNotAvaiAdmin" src="{{old_userImage}}" class="img-circle elevation-2"
          alt="User Image">
        <ng-template #imageNotAvaiAdmin>
          <img src="../../assets/admin-js-css/dist/img/user2-160x160.jpg" class="img-circle elevation-2"
            alt="User Image">
        </ng-template>
      </div>
      <div class="info">
        <a routerLink="/editAdminProfile/{{old_id}}" class="d-block">{{old_firstName}} {{old_lastName}}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item" [ngClass]="(currentUrlSegment=='dashboard')?'menu-open':''">
          <a href="#" class="nav-link" [ngClass]="(currentUrlSegment=='dashboard')?'active':''">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Tableau de bord
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard" class="nav-link" [ngClass]="(currentUrlSegment=='dashboard')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tableau de bord</p>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='addBannerMiddle' || currentUrlSegment=='allBannerMiddle'|| currentUrlSegment=='editBannerMiddle')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='addBannerMiddle' || currentUrlSegment=='allBannerMiddle'|| currentUrlSegment=='editBannerMiddle')?'active':''">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Bannière centrale d'accueil 
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!-- <li class="nav-item">
              <a routerLink="/addBannerMiddle" class="nav-link" [ngClass]="(currentUrlSegment=='addBannerMiddle')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Ajouter</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="/allBannerMiddle" class="nav-link"
                [ngClass]="(currentUrlSegment=='allBannerMiddle'|| currentUrlSegment=='allBannerMiddle' || currentUrlSegment=='editBannerMiddle')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tous</p>
              </a>
            </li>

          </ul>
        </li>



         

        


        
 

        
        


        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='users'|| currentUrlSegment=='editprofile' || currentUrlSegment=='allActiveUsers'|| currentUrlSegment=='allInActiveUsers'|| currentUrlSegment=='allDeletedUsers')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='users'|| currentUrlSegment=='editprofile' || currentUrlSegment=='allActiveUsers'|| currentUrlSegment=='allInActiveUsers'|| currentUrlSegment=='allDeletedUsers')?'active':''">
            <i class="nav-icon fas fa-users"></i>
            <p>

              Gestion des utilisateurs

              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a routerLink="/users" class="nav-link" [ngClass]="(currentUrlSegment=='users'|| currentUrlSegment=='editprofile')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Utilisateurs</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allInActiveUsers" class="nav-link" [ngClass]="(currentUrlSegment=='allInActiveUsers' )?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Nouveaux utilisateurs</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allActiveUsers" class="nav-link" [ngClass]="(currentUrlSegment=='allActiveUsers' )?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Utilisateurs actifs</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allDeletedUsers" class="nav-link" [ngClass]="(currentUrlSegment=='allDeletedUsers' )?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Utilisateurs supprimés</p>
              </a>
            </li>

          </ul>
        </li>


        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='withdraw' || currentUrlSegment=='sellers'|| currentUrlSegment=='abuse_report' || currentUrlSegment=='store_reviews' || currentUrlSegment=='refunds'|| currentUrlSegment=='reports'|| currentUrlSegment=='editvendor'  || currentUrlSegment=='activeSeller'  || currentUrlSegment=='inActiveSeller'  || currentUrlSegment=='deletedSeller')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='withdraw' || currentUrlSegment=='sellers'|| currentUrlSegment=='abuse_report' || currentUrlSegment=='store_reviews' || currentUrlSegment=='refunds'|| currentUrlSegment=='reports' || currentUrlSegment=='editvendor'  || currentUrlSegment=='activeSeller'  || currentUrlSegment=='inActiveSeller'  || currentUrlSegment=='deletedSeller')?'active':''">
            <i class="nav-icon fas fa-building"></i>
            <p>

              Gestion des vendeurs

              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/withdraw" class="nav-link" [ngClass]="(currentUrlSegment=='withdraw')?'active':''">
                <i class="nav-icon fas fa-credit-card"></i>
                <p>
                  Retirer
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/inActiveSeller" class="nav-link" [ngClass]="(currentUrlSegment=='inActiveSeller' )?'active':''">
                <i class="nav-icon fas fa-store"></i>
                <p>
                  Nouveaux vendeurs
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/activeSeller" class="nav-link" [ngClass]="(currentUrlSegment=='activeSeller' )?'active':''">
                <i class="nav-icon fas fa-store"></i>
                <p>
                  Vendeurs actifs
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/sellers" class="nav-link" [ngClass]="(currentUrlSegment=='sellers' || currentUrlSegment=='editvendor')?'active':''">
                <i class="nav-icon fas fa-store"></i>
                <p>
                  Vendeurs
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/deletedSeller" class="nav-link" [ngClass]="(currentUrlSegment=='deletedSeller' )?'active':''">
                <i class="nav-icon fas fa-store"></i>
                <p>
                  Vendeurs supprimés
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/abuse_report" class="nav-link" [ngClass]="(currentUrlSegment=='abuse_report')?'active':''">
                <i class="nav-icon fas fa-ban"></i>
                <p>
                  Rapports d'abus
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/store_reviews" class="nav-link" [ngClass]="(currentUrlSegment=='store_reviews')?'active':''">
                <i class="nav-icon fas fa-comment"></i>
                <p>
                  Critiques des magasins
                </p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a routerLink="/advertisement" class="nav-link" [ngClass]="(currentUrlSegment=='advertisement')?'active':''">
                <i class="nav-icon fas fa-ad"></i>
                <p>
                  Annonces
                </p>
              </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="/refunds" class="nav-link" [ngClass]="(currentUrlSegment=='refunds')?'active':''">
                <i class="nav-icon fas fa-undo"></i>
                <p>
                  Remboursemens
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/reports" class="nav-link" [ngClass]="(currentUrlSegment=='reports')?'active':''">
                <i class="nav-icon fas fa-file"></i>
                <p>
                  Rapports
                </p>
              </a>
            </li>

          </ul>
        </li>
        

        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addColor' || currentUrlSegment=='allColor' || currentUrlSegment=='editColor'  )?'menu-open':''">
          <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addColor'|| currentUrlSegment=='allColor' || currentUrlSegment=='editColor'  )?'active':''">
            <i class="nav-icon fas fa-th-list"></i>
            <p>
              Couleur
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item"  >
              <a routerLink="/addColor" class="nav-link"  [ngClass]="(currentUrlSegment=='addColor')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Ajouter couleur</p>
              </a>
            </li>
            <li class="nav-item"  >
              <a routerLink="/allColor" class="nav-link"  [ngClass]="(currentUrlSegment=='allColor' || currentUrlSegment=='editColor')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Toutes couleur</p>
              </a>
            </li>

          </ul>
      </li>


      <li class="nav-item"  [ngClass]="(currentUrlSegment=='addBrand' || currentUrlSegment=='allBrand' || currentUrlSegment=='editBrand'  )?'menu-open':''">
        <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addBrand'|| currentUrlSegment=='allBrand' || currentUrlSegment=='editBrand'  )?'active':''">
          <i class="nav-icon fas fa-th-list"></i>
          <p>
            Marque
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item"  >
            <a routerLink="/addBrand" class="nav-link"  [ngClass]="(currentUrlSegment=='addBrand')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Ajouter marque</p>
            </a>
          </li>
          <li class="nav-item"  >
            <a routerLink="/allBrand" class="nav-link"  [ngClass]="(currentUrlSegment=='allBrand' || currentUrlSegment=='editBrand')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Toutes marque</p>
            </a>
          </li>

        </ul>
    </li>



    <li class="nav-item"  [ngClass]="(currentUrlSegment=='addSize' || currentUrlSegment=='allSize' || currentUrlSegment=='editSize'  )?'menu-open':''">
      <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addSize'|| currentUrlSegment=='allSize' || currentUrlSegment=='editSize'  )?'active':''">
        <i class="nav-icon fas fa-th-list"></i>
        <p>
          Taille
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item"  >
          <a routerLink="/addSize" class="nav-link"  [ngClass]="(currentUrlSegment=='addSize')?'active':''">
            <i class="far fa-circle nav-icon"></i>
            <p>Ajouter taille</p>
          </a>
        </li>
        <li class="nav-item"  >
          <a routerLink="/allSize" class="nav-link"  [ngClass]="(currentUrlSegment=='allSize' || currentUrlSegment=='editSize')?'active':''">
            <i class="far fa-circle nav-icon"></i>
            <p>Toutes taille</p>
          </a>
        </li>

      </ul>
  </li>

  <li class="nav-item"  [ngClass]="(currentUrlSegment=='addStyle' || currentUrlSegment=='allStyle' || currentUrlSegment=='editStyle'  )?'menu-open':''">
    <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addStyle'|| currentUrlSegment=='allStyle' || currentUrlSegment=='editStyle'  )?'active':''">
      <i class="nav-icon fas fa-th-list"></i>
      <p>
        Style
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item"  >
        <a routerLink="/addStyle" class="nav-link"  [ngClass]="(currentUrlSegment=='addStyle')?'active':''">
          <i class="far fa-circle nav-icon"></i>
          <p>Ajouter style</p>
        </a>
      </li>
      <li class="nav-item"  >
        <a routerLink="/allStyle" class="nav-link"  [ngClass]="(currentUrlSegment=='allStyle' || currentUrlSegment=='editStyle')?'active':''">
          <i class="far fa-circle nav-icon"></i>
          <p>Toutes style</p>
        </a>
      </li>

    </ul>
</li>
        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='all_products'|| currentUrlSegment=='allInactiveProduct' || currentUrlSegment=='allActiveProduct'|| currentUrlSegment=='allDeletedProduct'|| currentUrlSegment=='categories' || currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='all_products'|| currentUrlSegment=='allInactiveProduct' || currentUrlSegment=='allActiveProduct'|| currentUrlSegment=='allDeletedProduct' || currentUrlSegment=='categories' || currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'active':''">
            <i class="nav-icon fas fa-gift"></i>
            <p>

              Gérer les produits

              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a routerLink="/all_products" class="nav-link" [ngClass]="(currentUrlSegment=='all_products')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Tous les produits</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allInactiveProduct" class="nav-link" [ngClass]="(currentUrlSegment=='allInactiveProduct')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Produit inactif</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allActiveProduct" class="nav-link" [ngClass]="(currentUrlSegment=='allActiveProduct')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Produit actif</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allDeletedProduct" class="nav-link" [ngClass]="(currentUrlSegment=='allDeletedProduct')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Supprimer un produit</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/categories" class="nav-link" [ngClass]="(currentUrlSegment=='categories')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Categories</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/allCategory" class="nav-link" [ngClass]="(currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Total des catégories</p>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item"
          [ngClass]="(currentUrlSegment=='orders' || currentUrlSegment=='allLattestOrder' || currentUrlSegment=='allReadyToPickupOrder'  || currentUrlSegment=='allPickedUpOrder' || currentUrlSegment=='allCompletedOrder' || currentUrlSegment=='allUserCancledOrder' || currentUrlSegment=='order_report'|| currentUrlSegment=='orderList')?'menu-open':''">
          <a href="#" class="nav-link"
            [ngClass]="(currentUrlSegment=='orders' || currentUrlSegment=='allLattestOrder' || currentUrlSegment=='allReadyToPickupOrder'  || currentUrlSegment=='allPickedUpOrder' || currentUrlSegment=='allCompletedOrder' || currentUrlSegment=='allUserCancledOrder' || currentUrlSegment=='order_report'|| currentUrlSegment=='orderList')?'active':''">
            <i class="nav-icon fab fa-first-order"></i>
            <p>

              Gestion des commandes

              &nbsp; &nbsp;<i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">


            <li class="nav-item">
              <a routerLink="/allLattestOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allLattestOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Commande nouvelle</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allReadyToPickupOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allReadyToPickupOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Prêt à l'enlèvement</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allPickedUpOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allPickedUpOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Commande enlevée</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allCompletedOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allCompletedOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Commande complétée</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allUserCancledOrder" class="nav-link" [ngClass]="(currentUrlSegment=='allUserCancledOrder')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Commande annulée</p>
              </a>
            </li>

            
            <li class="nav-item">
              <a routerLink="/orders" class="nav-link" [ngClass]="(currentUrlSegment=='orders')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Toutes les commandes</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a routerLink="/order_report" class="nav-link" [ngClass]="(currentUrlSegment=='order_report')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Rapports</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/orderList" class="nav-link" [ngClass]="(currentUrlSegment=='orderList')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Liste de commande</p>
              </a>
            </li>
            

          </ul>
        </li>
 

        <li class="nav-item"  [ngClass]="(currentUrlSegment=='sendPushNotificationMerchant' || currentUrlSegment=='allPushNotification')?'menu-open':''">

          <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='sendPushNotificationMerchant' || currentUrlSegment=='allPushNotification')?'active':''">
            <i class="nav-icon fas fa-bell"></i>
            <p>
              Notification Push
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/sendPushNotificationMerchant" class="nav-link"  [ngClass]="(currentUrlSegment=='sendPushNotificationMerchant')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Envoyer à l'utilisateur</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/allPushNotification" class="nav-link"  [ngClass]="(currentUrlSegment=='allPushNotification')?'active':''">
                <i class="far fa-circle nav-icon"></i>
                <p>Toutes les notifications</p>
              </a>
            </li>
          </ul>
      </li>
      

      
       
      
      
      

      <li class="nav-item"  [ngClass]="(currentUrlSegment=='sellerTermsCondition' || currentUrlSegment=='editDriverSupport'|| currentUrlSegment=='editWebPages'|| currentUrlSegment=='adminSetting')?'menu-open':''">

        <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='sellerTermsCondition' || currentUrlSegment=='editDriverSupport'|| currentUrlSegment=='editWebPages'|| currentUrlSegment=='adminSetting')?'active':''">
          <i class="nav-icon fas fa-bell"></i>
          <p>
            Paramètres
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/sellerTermsCondition" class="nav-link"  [ngClass]="(currentUrlSegment=='sellerTermsCondition')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Conditions du vendeur</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/editDriverSupport" class="nav-link"  [ngClass]="(currentUrlSegment=='editDriverSupport')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Support du chauffeur</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/editWebPages" class="nav-link"  [ngClass]="(currentUrlSegment=='editWebPages')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Les pages web</p>
            </a>
          </li>


          <li class="nav-item">
            <a routerLink="/adminSetting" class="nav-link"  [ngClass]="(currentUrlSegment=='adminSetting')?'active':''">
              <i class="far fa-circle nav-icon"></i>
              <p>Réglage</p>
            </a>
          </li>


        </ul>
      </li>
      <!-- <li class="nav-item" >
        <a routerLink="/statistics_market" class="nav-link">
          <i class="nav-icon fas fa-chart-bar"></i>
          <p>
            Marché des statistiques
          </p>
        </a>
      </li> -->
      
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Déconnexion</p>
          </a>
        </li>

        






      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>