<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Rapports d'abus</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                      <!-- left column -->
                      <div class="col-md-12">

                        <!--  -->

                        <!-- jquery validation -->
                        <div class="clearfix"></div>
                        <br>
                                <form [formGroup]="formSecondStep" id="msform" class="customer-form" (ngSubmit)="submit2()">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">

                                                <select class="form-select"  formControlName="reason_f">
                                                    <option value="">Filtrer par motifs d'abus</option>
                                                    <option value="">Describe the problem to us</option>
                <option value="Il y a un problème avec ma commande">Il y a un problème avec ma commande</option>
                <option value="Certaines informations sur le produit sont manquantes, inexactes ou pourraient être améliorées Des parties de cette page ne correspondent pas">Certaines informations sur le produit sont manquantes, inexactes ou pourraient être améliorées Des parties de cette page ne correspondent pas</option>
                <option value="J'ai un problème avec le prix">J'ai un problème avec le prix</option>
                <option value="Ce produit ou son contenu est offensant">Ce produit ou son contenu est offensant</option>
                <option value="Ce produit ou son contenu est illégal, dangereux ou suspect">Ce produit ou son contenu est illégal, dangereux ou suspect</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <select class="form-select"  formControlName="product_f">
                                                    <option value="">Filtrer par produit</option>
                                                    <option *ngFor="let players of products" [value]="players._id">
                                                        {{players.title}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <select class="form-select" formControlName="vendor_f" >
                                                    <option value="">Filtrer par vendeur</option>
                                                    <option *ngFor="let player of vendors" [value]="player._id">
                                                        {{player.fullname}}
                                                    </option>
                                                </select>
                                            </div> 
                                            
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-secondary" >Appliquer</button>
                                        </div>
                                    </div>
                                    
                
                                    
                                    
                                </form>


                                <!-- <div style="display: flex;">
                                    <form [formGroup]="form" (ngSubmit)="submit()">
                                        <div style="display: flex;">
                                            <select class="form-select" formControlName="action_delete">
                                                <option value="">Actions Groups</option>
                                                <option value="approve">Approuver</option>
                                                <option value="cancel">Annuler</option>
                                            </select>
                                            <button class="btn btn-secondary">Appliquer</button>
                                        </div>
                                    </form>
                                    
                                </div> -->
                        <table id="basic-data-table" class="table nowrap" style="width:100%">
                            <thead>
                              <tr>
                                <!-- <th> <input type="checkbox" [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)" >
                                </th> -->
                                <th >Raison</th>
                                <th>Produit</th>
                                <th >Vendeur</th>
                                <th>Rapporté par</th>
                                <th>Rapporté à</th>
                                <!-- <th>Statut</th>
                                <th>Action</th> -->
                              </tr>
                            </thead>
                          
                            <tbody>
                                <tr *ngFor="let d of abuseReport  ">
                                    <!-- <td><input type="checkbox" [(ngModel)]="d.is_checked" (ngModelChange)="onSelectAll2(d._id,$event)" ></td> -->
                                    <td>{{ d.reason }}</td>
                                        <td>{{ d.product }}</td>
                                    <td>{{ d.vendor }}</td>
                                    <td >{{ d.reportedbyName }}</td> 
                                    <td>{{ d.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                                    <!-- <td>
                                        <ng-container *ngIf="d.is_resolved == false;else thirddd">
                                            Non résolu
                                        </ng-container>
                                        <ng-template #thirddd>
                                            Résolu
                                        </ng-template>
        
                                    </td>
        
                                    <td>
                                        <ng-container *ngIf="d.is_resolved == false;else third">
                                            <a href="javascript:void(0)" style="color:green" (click)="markResolve(d._id)">Mark a résolu</a>
                                        </ng-container>
                                        <ng-template #third>
                                            <a #secondElse href="javascript:void(0)" style="color:red" (click)="markUnResolve(d._id)">Marquer non résolu</a>
                                        </ng-template>
        
                                    </td> -->
                                </tr>
                                

                            </tbody>

                            <div class="clearfix"></div>
                            <br>
                            <ul class="pagination">
                                <li   *ngFor="let item of numbers; let i = index"  
                                [class.active]="selectedIndex === i"
                                (click)="getallColor(item)">
                                <a class="" href="javascript:void(0)">{{item+1}}</a>
                                </li> 
                            </ul>

                          </table>
                      </div>
                    </div>
                </div>

                

                
                
                
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>