<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

    <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Mise à jour de l'utilisateur</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Mise à jour de l'utilisateur</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Mise à jour de l'utilisateur<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Statut*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <select class="form-select" formControlName="is_active">
                            <option value="true">Active</option>
                            <option value="false">In-active</option>
                          </select>

                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Prénom</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" id="fullName" class="form-control" formControlName="first_name" placeholder="Nom complet">

                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Nom</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" id="fullName" class="form-control" formControlName="last_name" placeholder="Nom complet">

                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Téléphone </label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="phone"   id="phone" class="form-control" formControlName="phone" placeholder="Téléphone">

                        </div>
                      </div>
                    </div>


                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Email*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="email" readonly id="email" class="form-control" formControlName="email" placeholder="Courriel">

                        </div>
                      </div>
                    </div>


                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Nouveau mot de passe*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="password" id="newpassword" class="form-control" formControlName="pw" placeholder="Nouveau mot de passe">

                        </div>
                      </div>
                    </div>

                    
                    <div class="form-group row mb-0">
                      <label for="file" class="form-label col-md-4 col-lg-3">Image</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input
                          formControlName="images"
                          id="images"
                          type="file"
                          (change)="onFileChange($event)"
                          accept="image/png, image/jpeg, image/jpg, image/gif">
                          <div class="clearfix"></div><br>
                          <div class="row">
                            <div class="col-md-12">
                              <img *ngIf="old_userImage" src="{{base_url_two}}static/public/{{old_userImage}}" height="150" width="150"><br>
                            </div>
                          </div>

                        </div>
                      </div>
                      
                      
                  </div>

                    

                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>

                  <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.status == false; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.message }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success"><strong>{{ apiResponse.message }}</strong></div>
                    </ng-template>
                  </div>

                </form>
              </div>
              <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
    </div>