<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
    
        <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <!-- Content Wrapper. Contains page content -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1> Demande de paiement</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                  <li class="breadcrumb-item active">Tous demande de paiement</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Tous demande de paiement<small> </small></h3>
                  </div>
                  <div class="clearfix"></div><br>
                  <!-- <div>
                    <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportCsvDriverApi"  target="_blank" download="download"  >Exporter csv</a></b>
                  </div> -->
                  <!-- /.card-header -->
                  <!-- form start -->
                   <div class="card">
                  <div class="card-header">
                    <h3 class="card-title"> </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <!-- <form [formGroup]="form" (ngSubmit)="submit()">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom</label>
                                <input type="text" formControlName="fullName"
                                  id="fullName"  
                                  class="form-control"
                                  placeholder="Nom"
                                  >
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Courriel</label>
                              <input type="text" formControlName="email"
                                id="email"  
                                class="form-control"
                                placeholder="Nom de famille"
                                >
                            </div>
                          </div>
                          <div class="col-md-4"> 
                            <div class="form-group">
                              <label for="exampleInputEmail1">Numéro de portable</label>
                              <input type="text" formControlName="mobileNumber"
                                id="mobileNumber"  
                                class="form-control"
                                placeholder="Numéro de portable"
                                >
                            </div>
                          </div>
                          
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Statut</label>
                                <select name="status" formControlName="status"  
                                  class="form-control"
                                  >
                                <option value="">Veuillez sélectionner</option>
                                <option value="1">Actif</option>
                                <option value="2">Inactif</option>
                              </select>
                            </div>
                          </div>
    
                        </div>
                      </div>
                       
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Soumettre</button>
                        &nbsp;&nbsp;&nbsp;
                        <a href="{{base_url}}allDrivers" class="btn btn-warning">Réinitialisation</a>
    
    
                      </div>
                      <div class="card-footer">
                        
                      </div>
                    </form> -->
    
                    
    
    
                  <div class="table-responsive">
                    <!-- <table class="table table-striped"   datatable [dtOptions]="dtOptions"> -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th> 
                          <!-- <th>Nom de la route</th> -->
                          <th>Type de livraison</th>
                          <th>Activation du jour</th>
                          <th>Jour</th>
                          <th>Heure de début</th>
                          <th>Heure de fin</th> 
                        </tr>
                      </thead>
                      <tbody>
                         
                        <tr  *ngFor="let val of record let i = index">
                            <td width="15%" style="color:#2171ae">  
                                {{ i+1 }}
                            </td>
                            <td>
                                <p *ngIf="val.delivery_type == 1">
                                  Livraison 
                                </p>

                                <p *ngIf="val.delivery_type == 2">
                                  Enlèvement 
                                </p>

                                <p *ngIf="val.delivery_type == 3">
                                  Programme d'essai 
                                </p>
                            </td>
                            <td>
                                 
                                <!-- <p *ngIf="val.day_enable == true">
                                  Oui
                                </p>
                                <p *ngIf="val.day_enable == false">
                                  Non
                                </p> -->

                              <div class="day-f">
                                  <label class="switch">
                                  <ng-container *ngIf="val.day_enable == true; else elseCond">
                                      <input type="checkbox" checked="checked">
                                  </ng-container>
                                  <ng-template #elseCond>
                                      <input type="checkbox"  >
                                  </ng-template>
                                  <span class="slider round"></span>
                                  </label>
                              </div>

                            </td>
                            <td>
                                <p *ngIf="val.day_number == 0">
                                  Dimanche 
                                </p>
                                <p *ngIf="val.day_number == 1">
                                  Lundi 
                                </p>
                                <p *ngIf="val.day_number == 2">
                                  Mardi 
                                </p>
                                <p *ngIf="val.day_number == 3">
                                  Mercredi
                                </p>
                                <p *ngIf="val.day_number == 4">
                                  Jeudi
                                </p>
                                <p *ngIf="val.day_number == 5">
                                  Vendredi
                                </p>
                                <p *ngIf="val.day_number == 6">
                                  Samedi
                                </p>
                            </td>
                            <td>
                                {{val.start_time}}
                            </td>
                            <td>
                                {{val.end_time}}
                            </td> 
                        </tr>
                        

                      </tbody>
                    </table>
                  </div>  
                  <div class="clearfix"></div>
                    <br>
                     
                   
    
    
                  </div>
                  <!-- /.card-body -->
                </div>
                </div>
                <!-- /.card -->
                </div>
              <!--/.col (left) -->
              <!-- right column -->
              <div class="col-md-6">
    
              </div>
              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- /.content-wrapper -->
    
      <!-- Control Sidebar -->
      <!-- <aside class="control-sidebar control-sidebar-dark">
      </aside> -->
        <!-- Control sidebar content goes here -->
      <!-- /.control-sidebar -->
    
      
       <app-adminfooter></app-adminfooter>
    </div>
    </body>