body {
    background-color: #fff;
  }
  
  .top-information,
  .bottom-information {
    padding: 0 20px;
  }
  th, td{
    font-weight: 400;
  }
  td{
    font-size: 14px;
    color: #2171ae;
  }
  th{
    color: #2171ae;
  }
 