<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Marque</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Toutes les marque</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Toutes les marque <small> </small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Toutes les marque</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
  
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Marque nom</th> 
                          <th>Statut</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                         
                        <tr *ngFor="let val of record let i = index">
                          <td>{{ i+1 }}</td>
                          <td>{{ val.name }}</td>
                          
                          <td>
                              <div *ngIf="val.status == 1; else statusOut">
                                <span class="badge bg-success">Actif</span>
                            </div>
                            <ng-template #statusOut>
                                <span class="badge bg-danger">Inactif</span>
                            </ng-template>
                          </td>   
                          <td>
                            <a routerLink="/editBrand/{{ val._id}}" >
                              <i class="fas fa-pencil-alt">Modifier</i>
                            </a>
  
                            <div *ngIf="val.status == 1; else statusManageOut">
                                <a  (click)="updateColorStatus(val._id,2);" class="btn btn-block btn-danger btn-sm">Inactif</a>
                            </div>
                            <ng-template #statusManageOut>
                                <a  (click)="updateColorStatus(val._id,1);" class="btn btn-block btn-success btn-sm">Actif</a>
                            </ng-template>
  
                          </td>
                        </tr>
  
                      </tbody>
                    </table>
                  </div>
                  <div class="clearfix"></div>
                  <br>
  
                   
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                        (click)="getallColor(item)">
                        <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
  
                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>