<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Organisateur gains</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Total des organisateur gains</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                          
                          
                          <th>Nom complet</th>
                          <th>Email</th>
                          <th>Téléphone</th>
                          <th>Gains</th>
                          <th>Action</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let d of vendors | filter:searchText ">
                          

                           
                          <td>{{ d.name }}</td>
                          <td>{{ d.email }}</td>
                          <td>{{ d.phone }}</td>
                          <td>{{ d.totalpendingamount }}</td>
                          <td>
                            <a routerLink="/makePaymentRequest/{{d._id}}">Demande de paiement</a>
                            &nbsp;&nbsp;
                            <a routerLink="/organiserPaymentHistory/{{d._id}}">Historique des paiements</a>
                          </td>

                      </tr>
                      <div class="clearfix"></div>
                      <br>
                      <ul class="pagination">
                          <li   *ngFor="let item of numbers; let i = index"  
                          [class.active]="selectedIndex === i"
                          (click)="getallColor(item)">
                          <a class="" href="javascript:void(0)">{{item+1}}</a>
                          </li> 
                      </ul>

                      <div class="clearfix"></div>
                  <br>

                  </tbody>
              </table>
              <!-- <div>
                  <input type="checkbox"  [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)">
                  <div *ngFor="let d of data;">
                      <input type="checkbox" [(ngModel)]="d.is_selected">
                      <span>{{ d.name }}</span>
                  </div>
                </div> -->


          </section>
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>