<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Marchand</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Tous les marchands</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Tous les marchands<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                <!-- <div>
                  <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportCsvDriverApi"  target="_blank" download="download"  >Exporter csv</a></b>
                </div> -->
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                              
                              <input type="text" formControlName="first_name"
                                id="first_name"  
                                class="form-control"
                                placeholder="Prénom"
                                >
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                              <input type="text" formControlName="last_name"
                                id="last_name"  
                                class="form-control"
                                placeholder="Nom"
                                >
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input type="text" formControlName="email"
                              id="email"  
                              class="form-control"
                              placeholder="Email"
                              >
                          </div>
                        </div>
                        <div class="col-md-2"> 
                          <div class="form-group">
                            <input type="number" formControlName="phone"
                              id="mobileNumber"  
                              class="form-control"
                              placeholder="Numéro de portable"
                              >
                          </div>
                        </div>
                        
                        <div class="col-md-2">
                          <div class="form-group">
                              <select name="status" formControlName="status"  
                                class="form-control"
                                >
                              <option value="">Veuillez sélectionner</option>
                              <option value="true">Actif</option>
                              <option value="false">Inactif</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <button type="submit" class="btn btn-primary">Soumettre</button>&nbsp;
                          <a href="/allMerchant" class="btn btn-warning">Réinitialisation</a>
                        </div> 
                      </div>

                    </div>
                    <!-- /.card-body -->
                  </form>
  
                  
  
  
                <div class="table-responsive">
                  <!-- <table class="table table-striped"   datatable [dtOptions]="dtOptions"> -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th> 
                        <th>Clients</th>
                        <th>Limite de crédit</th>
                        <th>Nom complet</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Nom de la compagnie</th>
                        <th>Adresse</th>
                        <th>Statut</th>
                         <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr *ngFor="let val of record let i = index">
                        <td>{{ i+1 }}</td> 
                        <td><a routerLink="/allClient/{{ val._id}}">Clients</a></td>
                        <td><a routerLink="/changeMerchantCredit/{{ val._id}}">{{val.credit_limit}}</a> </td>
                        <td>{{ val.first_name}} {{ val.last_name}}</td>
                        <td>{{ val.email}}</td>
                        <td>{{ val.phone}}</td>
                        <td>{{ val.companyName}}</td>
                        <td>
                          {{val.userAddress}}
                        </td>
                        <td>
                          <div *ngIf="val.is_active == true; else statusOut">
                            <span class="badge bg-success">Actif</span>
                          </div>
                            <ng-template #statusOut>
                                <span class="badge bg-danger">Inactif</span>
                            </ng-template>
                        </td>
                          <a class="btn btn-success btn-sm" (click)="updateUserStatus(val._id)" >Approuvé</a> <div class="clearfix"></div>
                          <a class="btn btn-danger btn-sm" (click)="updateUserStatusInactive(val._id)" >Désapprouvé</a>
                        <td>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>  
                <div class="clearfix"></div>
                  <br>
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                        (click)="getallBanner(item)">
                        <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>
                  <div class="clearfix"></div>
                  <br>
                <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                </div>
  
  
                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>