.tbl-res1 {
    padding: 33px 20px;
    box-shadow: 0 0 32px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 800px;
    overflow-y: auto;
    background-color: #fff;
}
a {
    color: inherit;
    text-decoration: none;
}
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
}
.frst-b {
    font-weight: 700;
    font-size: 48px!important;
    line-height: 58px;
}
.second-b {
    font-weight: 700;
    font-size: 20px!important;
    line-height: 58px;
}
.float-r {
    float: right;
}