<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Événement</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Expiré les Événement</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                        <th>Image</th>
                          <th>Titre</th>
                          <th>Organisateur</th>
                          <th>Type</th>
                          <th>Catégorie</th>
                          <th>Billets</th>
                          <th>Temps</th>
                          <th>Emplacement du lieu</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <ng-container *ngIf="vendors.length > 0; else elseUsers"> 
                  <tbody>
                      <tr *ngFor="let d of vendors | filter:searchText ">
                          <td>
                            <ng-container *ngIf="d.media.length > 0">
                              
                              <img src="{{base_url_two}}static/public/{{d.media[0]}}" height="120" width="120">
                            </ng-container>
                          </td>
                          <td>{{ d.title }}</td>
                          <td>{{d.org_name}}</td>
                          <td>
                            <ng-container *ngIf="d.paidornot == true; else paidElse">Paid</ng-container>
                            <ng-template #paidElse>Free </ng-template>
                            {{d.org_name}}
                          </td>
                          <td>{{d.catagory}}</td>
                          <td>
                            <p *ngFor="let objTick of d.tickets">
                              <b>Type & Price: </b>{{objTick.type}} & {{objTick.price}}
                            </p> 
                          </td> 
                          <td>
                            <p *ngFor="let objTime of d.datetime let i=index">
                              <ng-container *ngIf="i == 0; else elseTimer">
                                <b>Démarrage : </b>{{objTime.date | date:"dd/mm/yyyy"}} {{objTime.time}}
                              </ng-container>
                              <ng-template #elseTimer>
                                <b>Fin : </b>{{objTime.date | date:"dd/mm/yyyy"}} {{objTime.time}}
                              </ng-template>
                            </p> 
                          </td>
                          <td><ng-container *ngIf="d.address.length > 0">{{d.address[0].address}}</ng-container></td>
                          <td>
                            <a routerLink="/editEvent/{{d._id}}">Modifier</a>
                          </td>

                      </tr>


                  </tbody>
                </ng-container>
                <ng-template #elseUsers>
                  <tbody >
                  <tr>
                      <td class="no-data" colspan="10">
                          <i class="fa fa-file"></i>
                          <p>Aucune donnée trouvée</p>
                      </td>
                  </tr>
                  </tbody>
              </ng-template>
              </table>
              <!-- <div>
                  <input type="checkbox"  [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)">
                  <div *ngFor="let d of data;">
                      <input type="checkbox" [(ngModel)]="d.is_selected">
                      <span>{{ d.name }}</span>
                  </div>
                </div> -->
                <div class="clearfix"></div>
                <br>
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallBanner(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>
                <div class="clearfix"></div>

          </section>
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>