/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
.validation_error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  font-weight: 700;
}


.pagination{
float: left;
}
.pagination a {
/*color: black;*/
float: left;
padding: 8px 16px;
text-decoration: none;
border: 1px solid #ddd;
}

.pagination a.active {
background-color: #007bff;
color: white;
border: 1px solid #007bff;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.pagination a:last-child {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.pagination li.active{
  background-color: #ddd;
}

a.export_btn {
  float: right;
  margin-right: 12px;
}

.form-control:focus {
  box-shadow: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-select{
  width: 200px;
  margin: 4px 10px;
}
.btn{
  margin: 4px 10px;
}
.os-content{
  padding: 0px !important;
}
p{
  cursor: pointer;
}
.badge{ 
  background-color: #e4e4e4;
}

i.fa.fa-file {
  font-size: 90px;
}

button.btn.btn-primary {
  margin-top: 31px;
}

a.btn.btn-warning{
  margin-top: 31px;
}

td.no-data {
  text-align: center;
}