<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Bannière</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Total des bannière</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
              
              
              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                          
                          
                          <th>Titre</th>
                          <th>Deuxième texte</th>
                          <th>Icône</th>
                          <th>Action</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let d of vendors | filter:searchText ">
                          

                           

                          <td>{{ d.name }}</td>
                          <td>{{ d.second_text }}</td>

                          <td>
                            <ng-container *ngIf="d.photos">
                                <img *ngIf="d.photos.length > 0" src="{{base_url_two}}static/public/media/{{d.photos[0]}}" height="120" width="120">
                            </ng-container>
                            </td>
                          <td>
                            <a routerLink="/editEventBanner/{{d._id}}">Modifier</a>
                          </td>

                      </tr>

                      <div class="clearfix"></div>
                        <br>
                        <div>
                            <ul class="pagination">
                                <li   *ngFor="let item of numbers; let i = index"  
                                [class.active]="selectedIndex === i"
                                (click)="getallColor(item)">
                                <a class="" href="javascript:void(0)">{{item+1}}</a>
                                </li> 
                            </ul>
                        </div>
                  </tbody>
              </table>
              <!-- <div>
                  <input type="checkbox"  [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)">
                  <div *ngFor="let d of data;">
                      <input type="checkbox" [(ngModel)]="d.is_selected">
                      <span>{{ d.name }}</span>
                  </div>
                </div> -->


          </section>
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>