<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <app-adminheader></app-adminheader>
        <app-adminsidebar></app-adminsidebar>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                Gérer les frais d'expédition
                                </h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active">Tableau de bord</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <!-- <h5>Rate matrix</h5> -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <table id="basic-data-table" class="table nowrap" style="width:100%">
                        <thead>
                        <tr>
                            
                        <td>Méthode </td>
                        <td>Liste des zones </td>
                            
                        <td class="smalli"> Poids minimum (Poids KG)</td>
                        <td class="smalli">  Poids maximum(Poids KG)</td>
                        <td class="smalli">   Coût de base</td>
                        <td class="smalli">   Poids supplémentaire (Poids KG)</td>
                        <td class="smalli">  Coût par unité</td>
                        <td class="smalli">Nombre de jours</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="text" formControlName="method_name" class="form-control">

                                <div *ngIf="f['method_name'].touched && f['method_name'].invalid" class="validation_error">
                                    <div *ngIf="f['method_name'].errors && f['method_name'].errors['required']">Le nom de la méthode est requis.</div>
                                </div>

                            </td>
                            <td>
                                <ng-multiselect-dropdown
                                    formControlName="zone_name"
                                [placeholder]="'Selectionnez un utilisateur'"
                                [settings]="dropdownSettings"
                                [data]="dropdownListNew"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                
                                >
                                </ng-multiselect-dropdown>
                                <div *ngIf="f['zone_name'].touched && f['zone_name'].invalid" class="validation_error">
                                    <div *ngIf="f['zone_name'].errors && f['zone_name'].errors['required']">Le nom de la zone est requis.</div>
                                </div>

                            </td>
                            <td><input type="number" formControlName="min_weight" class="form-control" placeholder="50">
                                <div *ngIf="f['min_weight'].touched && f['min_weight'].invalid" class="validation_error">
                                    <div *ngIf="f['min_weight'].errors && f['min_weight'].errors['required']">Un poids minimal est requis.</div>
                                </div>
                            </td>
                            <td><input type="number" formControlName="max_weight" class="form-control" placeholder="4">
                                <div *ngIf="f['max_weight'].touched && f['max_weight'].invalid" class="validation_error">
                                    <div *ngIf="f['max_weight'].errors && f['max_weight'].errors['required']">Le poids maximum est requis.</div>
                                </div>
                            </td>
                            <td><input type="number" formControlName="cost_base" class="form-control" placeholder="7">
                                <div *ngIf="f['cost_base'].touched && f['cost_base'].invalid" class="validation_error">
                                    <div *ngIf="f['cost_base'].errors && f['cost_base'].errors['required']">Le coût de base est requis.</div>
                                </div>
                            </td>

                            <td>
                                <input type="number" formControlName="cost_additional_weight" class="form-control" placeholder="50">
                                <div *ngIf="f['cost_additional_weight'].touched && f['cost_additional_weight'].invalid" class="validation_error">
                                    <div *ngIf="f['cost_additional_weight'].errors && f['cost_additional_weight'].errors['required']">Coût du poids supplémentaire est requis.</div>
                                </div>
                            </td>

                            <td><input type="number" formControlName="cose_per_unit" class="form-control" placeholder="2">
                                <div *ngIf="f['cose_per_unit'].touched && f['cose_per_unit'].invalid" class="validation_error">
                                    <div *ngIf="f['cose_per_unit'].errors && f['cose_per_unit'].errors['required']">Le coût par unité est requis.</div>
                                </div>
                            </td>
                            <td><input type="number" formControlName="number_of_days" class="form-control" placeholder="2">
                                <div *ngIf="f['number_of_days'].touched && f['number_of_days'].invalid" class="validation_error">
                                    <div *ngIf="f['number_of_days'].errors && f['number_of_days'].errors['required']">Nombre de jours requis.</div>
                                </div>
                            </td>
                        </tr> 
                        
                        
                        </tbody>
                    </table> 

                     
                        <button type="submit" class="btn btn-primary">Soumettre</button>
                       
      
                      <div class="clearfix"></div>
                        <br>
                        <div class="comeBack_up" *ngIf="apiResponse">
                          <div *ngIf="apiResponse.error; else loggedOut">
                            <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                          </div>
                          <ng-template #loggedOut>
                            <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                          </ng-template>
                        </div>

                </form>
                
            </section>
            
            <!-- /.content -->
        </div>


        <app-adminfooter></app-adminfooter>
    </div>
</body>