<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

      <app-adminheader></app-adminheader>
      <app-adminsidebar></app-adminsidebar>
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1 class="m-0">Liste de commande</h1>
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                              <li class="breadcrumb-item active">Liste de commande</li>
                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
            
               
            <div style="display:flex">
              <form [formGroup]="form" (ngSubmit)="submit()" class="form-filter">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                            Numéro d'ordre: &nbsp;&nbsp;
                              <input type="number" formControlName="order_id" class="form-control">
                              
                          </div>
                      </div>
                      
                      <div class="col-md-3">
                          <div class="form-group">
                              De : &nbsp;&nbsp;
                              <input type="date" formControlName="form_date" class="form-control" placeholder="dd/mm/aaaa">
                              
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              &nbsp; Au : &nbsp;&nbsp;
                              <input type="date" formControlName="to_date" class="form-control" placeholder="dd/mm/aaaa">
                              
                          </div>
                      </div>
                      <div class="col-md-2">
                          <button type="submit" class="btn btn-outline-secondary">Afficher</button>
                      </div>
                  </div>
                  
                  
                  
              </form>
          </div>

              <table id="basic-data-table" class="table nowrap" style="width:100%">
                  <thead>
                      <tr>
                        <th>Numéro d'ordre</th>
                        <th>Expédition totale</th>
                        <th>Taxe</th>
                        <th>Prix total</th>
                        <th>Commission totale</th>
                        <th>Gain du vendeur</th>
                        <th>Date de la commande</th>
                        <!-- <th>Statut</th> -->
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of record | filter:searchText ">
                      <td>{{d.order_id}}</td>
                      <td>{{d.totalshipping  | number : '1.2-2'  }}</td>
                      <td>{{d.totaltax  | number : '1.2-2'  }}</td>
                      <td>{{d.totalPrice  | number : '1.2-2'  }}</td>
                      <td>{{d.totalcommission  | number : '1.2-2'  }}</td>
                      <td>{{d.sellerearning  | number : '1.2-2'  }}</td>
                      <td>{{d.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                      
                      <!-- <td>{{d.status}}</td> -->
                      <!-- <td>
                          <div class="badge" style="color:green" *ngIf="d.is_default==true "> Oui</div>
                          <div class="badge" style="color:red" *ngIf="d.is_default==false ">Non</div>
                      </td> -->
                      
                      
                    </tr>

                    <div class="clearfix"></div>
                        <br>
                        <ul class="pagination">
                            <li   *ngFor="let item of numbers; let i = index"  
                            [class.active]="selectedIndex === i"
                            (click)="getallColor(item)">
                            <a class="" href="javascript:void(0)">{{item+1}}</a>
                            </li> 
                        </ul>


                  </tbody>
              </table>
          </section>
          <!-- /.content -->
      </div>


      <app-adminfooter></app-adminfooter>
  </div>
</body>