label.form-label {
    padding-left: 22px;
  }
  
  .primary_btn{
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  
  }
  .primary_danger{
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
  
  }