<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Catégorie</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Ajouter un catégorie</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Ajouter un catégorie<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    <input type="hidden" formControlName="id"  [(ngModel)]="edit_id">
                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Titre de l'événement*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <input type="text" formControlName="title"
                            id="title"  [(ngModel)]="old_title"
                            class="form-control"
                            placeholder="Titre de l'événement">
                            <div *ngIf="f['title'].touched && f['title'].invalid" class="validation_error">
                              <div *ngIf="f['title'].errors && f['title'].errors['required']">Le prénom est requis</div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Organisateur*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group"> 
                          <select class="form-control" formControlName="orgniser" [(ngModel)]="old_org_id">
                            <option value="">Veuillez sélectionner</option>
                            <option  *ngFor="let abcObj of allOrgniser" value="{{abcObj._id}}">{{abcObj.name}}</option>
                          </select>                          
                          <div *ngIf="f['orgniser'].touched && f['orgniser'].invalid" class="validation_error">
                            <div *ngIf="f['orgniser'].errors && f['orgniser'].errors['required']">Le organisateur est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Type*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <select class="form-control" formControlName="paidornot"  [(ngModel)]="old_paidornot">
                            <option value="">Veuillez sélectionner</option>
                            <option value="true">Paid</option>
                            <option value="false">Free</option>
                          </select>                          
                          <div *ngIf="f['paidornot'].touched && f['paidornot'].invalid" class="validation_error">
                            <div *ngIf="f['paidornot'].errors && f['paidornot'].errors['required']">Le type est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Catégorie*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                          <select class="form-control" formControlName="catagory" [(ngModel)]="old_catagory">
                            <option value="">Veuillez sélectionner</option>
                            <option  *ngFor="let abcObj of allCat" value="{{abcObj.name}}">{{abcObj.name}}</option>
                          </select>                          
                          <div *ngIf="f['catagory'].touched && f['catagory'].invalid" class="validation_error">
                            <div *ngIf="f['catagory'].errors && f['catagory'].errors['required']">Le catégorie est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label col-md-4 col-lg-3">Nombre total de billets disponibles*</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                            <input type="number" formControlName="totoal_ticket"
                            id="totoal_ticket"  
                            class="form-control"
                            placeholder="Nombre total de billets disponibles" >
                                                  
                          <div *ngIf="f['totoal_ticket'].touched && f['totoal_ticket'].invalid" class="validation_error">
                            <div *ngIf="f['totoal_ticket'].errors && f['totoal_ticket'].errors['required']">Le nombre total de billets disponibles est requis</div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="form-group row mb-0">
                      <div class="clearfix"></div><br>
                      <p>Améliorer la découverte de l'événement en ajoutant des balises en rapport avec le sujet traité :</p>

                      <div class="form-group" *ngIf="previous_tags">
                        <table class="table table-bordered" *ngIf="previous_tags.length > 0">
                          
                          <tr >
                            <td>
                                <div class="form-group" >
                                  <label for="exampleInputEmail1">Tags</label>
                                  <input type="text"
                                    id="tags"  
                                    class="form-control"
                                    placeholder="{{item}}" *ngFor="let item of previous_tags" [value]="item" [disabled]="true">
                                </div>
                            </td>
                            
                          </tr>
                        </table>
                      </div>
                      
                        <div class="form-group">
                          <table class="table table-bordered" formArrayName="quantities">
                            <tr>
                              <th colspan="2">Cliquer sur le lien ajouter des tags :</th>
                              <th colspan="2">
                                <button type="button" (click)="addQuantity()" class="primary_btn">Ajouter des tags</button>
                              </th>
                            </tr>
                            <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                              <td>
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Tags</label>
                                    <input type="text" formControlName="tags"
                                      id="tags"  
                                      class="form-control"
                                      placeholder="Tags" >
                                  </div>
                              </td>
                              <td>
                                  <button (click)="removeQuantity(i)" class="primary_danger removeBtn">X</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                      <div class="clearfix"></div><br>
                      <p> Pour ajouter des billets, cliquez sur le bouton "Ajouter des billets" :</p>

                      <div class="form-group" *ngIf="previous_tickets">
                        <table class="table table-bordered" *ngIf="previous_tickets.length > 0">
                          
                           <tr *ngFor="let tic of previous_tickets">
                             <td>
                               
                                 <div class="form-group">
                                   <label for="exampleInputEmail1">Type de billet</label>
                                   <input type="text" 
                                     id="ticket_type"  
                                     class="form-control"
                                     placeholder="{{tic.type}}" [value]="tic.type" [disabled]="true">
                                 </div>
                                 </td>
                                 <td> 
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Prix du billet</label>
                                    <input type="number" 
                                      id="ticket_price"  
                                      class="form-control"
                                      placeholder="{{tic.price}}" [value]="tic.price" [disabled]="true">
                                  </div>
                                 </td>
                                 
         
                            
                           </tr>
                        </table>
                      </div>
                      
                        <div class="form-group">
                          <table class="table table-bordered" formArrayName="quantitiesMonday">
                            <tr>
                               <th colspan="2">Billets:</th>
                               <th colspan="2"><button type="button" (click)="addQuantityMonday()" class="primary_btn">Ajouter des billets</button></th>
                             </tr>
                             <tr *ngFor="let quantity of quantitiesMonday().controls; let i=index" [formGroupName]="i">
                               <td>
                                 
                                   <div class="form-group">
                                     <label for="exampleInputEmail1">Type de billet</label>
                                     <input type="text" formControlName="ticket_type"
                                       id="ticket_type"  
                                       class="form-control"
                                       placeholder="Type de billet" >
                                   </div>
                                   </td>
                                   <td> 
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Prix du billet</label>
                                      <input type="number" formControlName="ticket_price"
                                        id="ticket_price"  
                                        class="form-control"
                                        placeholder="Prix" >
                                    </div>
                                   </td>
                                   <!-- <td> 
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Number of ticket</label>
                                        <input type="number" formControlName="number_of_ticket"
                                          id="number_of_ticket"  
                                          class="form-control"
                                          placeholder="Number of ticket" >
                                      </div>
                                    </td> -->
           
                               <td>
                                   <button (click)="removeQuantityMonday(i)" class="primary_danger removeBtn">X</button>
                               </td>
                             </tr>
                          </table>
                        </div>
                    </div>

                    
                    
                    <div class="form-group row mb-0">
                      <h5>Emplacement</h5>
                      <p>Aidez les gens de la région à découvrir votre événement et indiquez aux participants où se présenter.</p>
                      <label class="form-label col-md-4 col-lg-3">Emplacement du lieu *</label>
                      <div class="col-xl-5 col-md-8 col-lg-6">
                        <div class="form-group">
                            <input formControlName="startAddress"  [(ngModel)]="startAddress" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"class="form-control"
                            placeholder="Entrez l'adresse de départ" />
  
                          <div *ngIf="f['startAddress'].touched && f['startAddress'].invalid" class="validation_error">
                            <div *ngIf="f['startAddress'].errors && f['startAddress'].errors['required']">Le adresse est requis.</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <h5>Date et heure</h5>
                      <p>Informer les participants de l'heure de début et de fin de l'événement afin qu'ils puissent planifier leur présence.</p>
                      <label class="form-label col-md-4">Date de début de l'événement *</label>
                      <div class="col-md-4">
                        <div class="form-group"> 
                            <input class="form-control" formControlName="start_date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date de début de l'événement"  [(ngModel)]="old_start_date">
                            <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
                          <div *ngIf="f['start_date'].touched && f['start_date'].invalid" class="validation_error">
                            <div *ngIf="f['start_date'].errors && f['start_date'].errors['required']">Le date de début de l'événement est requis.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group"> 
                            <input class="form-control" formControlName="start_time" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Heure de début de l'événement" [(ngModel)]="old_start_time">
                            <owl-date-time #dt2 pickerType="timer"></owl-date-time>

                          <div *ngIf="f['start_time'].touched && f['start_time'].invalid" class="validation_error">
                            <div *ngIf="f['start_time'].errors && f['start_time'].errors['required']">Le heure de début de l'événement est requis.</div>
                          </div>
                        </div>
                      </div>

                      <label class="form-label col-md-4">Date de début de l'événement *</label>
                      <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" formControlName="end_date" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" placeholder="Date de fin de l'événement" [(ngModel)]="old_end_date">
                            <owl-date-time #dt3 pickerType="calendar"></owl-date-time>
                          <div *ngIf="f['end_date'].touched && f['end_date'].invalid" class="validation_error">
                            <div *ngIf="f['end_date'].errors && f['end_date'].errors['required']">Le date de fin de l'événement est requis.</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" formControlName="end_time" [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" placeholder="Heure de fin de l'événement" [(ngModel)]="old_end_time">
                            <owl-date-time #dt4 pickerType="timer"></owl-date-time>

                          <div *ngIf="f['end_time'].touched && f['end_time'].invalid" class="validation_error">
                            <div *ngIf="f['end_time'].errors && f['end_time'].errors['required']">Le heure de fin de l'événement est requis.</div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label">Contenu</label>
                        <div class="form-group">
                          <div class="NgxEditor__Wrapper">
                              <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                              <ngx-editor
                              formControlName="description"
                                [editor]="editor"
                                [(ngModel)]="html"
                                [disabled]="false"
                                [placeholder]="'Tapez ici...'"  
                              ></ngx-editor>
                            </div>
                            
                              <div class="clearfix"></div><br>
                              <div *ngIf="f['description'].touched && f['description'].invalid" class="validation_error">
                              <div *ngIf="f['description'].errors && f['description'].errors['required']">Le contenu est requis.</div>
                                </div>
                      </div>

                    </div>

                    <div class="form-group row mb-0">
                      <label class="form-label">Upload New Image</label>
                        <div class="form-group">
                          <input type="file" formControlName="images" (change)="onFileChange($event)">
                          <div class="clearfix"></div><br>
                          <div *ngIf="f['images'].touched && f['images'].invalid" class="validation_error">
                            <div *ngIf="f['images'].errors && f['images'].errors['required']">Le fichier est requis.</div>
                          </div>

                          <div>
                            <label class="form-label">Previous Image</label><br>
                            <img src="{{base_url_node}}static/public/{{previous_img}}" alt="" width="200px">
                          </div>

                      </div>

                    </div>



                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.status == true; else loggedOut">
                      <div class="alert alert-success"><strong>{{ apiResponse.message }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-danger" *ngIf="apiResponse.message"><strong>{{ apiResponse.message }}</strong></div>
                    </ng-template>
                  </div>
                </form>

              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>